
<style>
    td {
        border: none;

        font-weight: bold;
        margin: 10px;
        padding-top: 20px;
    }

    tr {
        padding-top: 20px;
        margin: 5px;
    }
</style>

<!-- Daten der Kinder in einer for Schleife -->
<h2>{{ 'Erziehungsberechtigter'|trans }}</h2>

<table cellpadding="5px">


    <tbody>
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2" style=" border-bottom: 1px black solid; color: red">{{ 'Email'|trans }}:</td>
    </tr>
    <tr>
        <td colspan="2" style=" border-bottom: 1px black solid; color: red">{{ 'Telefonnummer'|trans }}:</td>
    </tr>

    <tr>
        <td style=" border-bottom: 1px black solid; color: red">{{ 'Vorname'|trans }}:</td>
        <td style=" border-bottom: 1px black solid; color: red">{{ 'Nachname'|trans }}:</td>
    </tr>
    <tr>
        <td style=" border-bottom: 1px black solid">{{ 'Straße'|trans }}:</td>
        <td style=" border-bottom: 1px black solid">{{ 'Adresszusatz'|trans }}:</td>
    </tr>
    <tr>
        <td style=" border-bottom: 1px black solid">{{ 'Postleitzahl'|trans }}:</td>
        <td style=" border-bottom: 1px black solid">{{ 'Stadt'|trans }}:</td>
    </tr>

    <tr>
        <td colspan="2"></td>
    </tr>
{% if stadt.settingGehaltsklassen %}
    <tr>
        <td>{{ 'Brutto Haushaltseinkommen pro Monat'|trans }}:</td>
        <td>
            <table cellspacing="3px">
                {% for g in gehaltsklassen %}
                    <tr>
                        <td style="width: 20px; border: 2px black solid"></td>
                        <td> {{ g }}</td>
                    </tr>

                {% endfor %}
            </table>

        </td>
    </tr>
    {% endif %}
    {% if stadt.settingKinderimKiga %}
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td>{{ 'Ich habe mindestens ein weiteres Kind in einer kostenpflichtigen öffentlichen Kindergarteneinrichtung'|trans }}
            :
        </td>
        <td>
            <table cellspacing="3px">

                <tr>
                    <td style="width: 20px; border: 2px black solid"></td>
                    <td> {{ 'Ja'|trans }}</td>
                </tr>
                <tr>
                    <td style="width: 20px; border: 2px black solid"></td>
                    <td> {{ 'Nein'|trans }}</td>
                </tr>


            </table>
        </td>
    </tr>

    <tr>
        <td style=" border-bottom: 1px black solid">{{ 'Wenn ja, geben Sie hier den Namen des kostenpflichtigen Kindergartens an'|trans }}
            :
        </td>
        <td style=" border-bottom: 1px black solid"></td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td>{{ 'Berufliche Situation'|trans }}:</td>
        <td>
            <table cellspacing="3px" style="width: 100%">
                {% for key,g in beruflicheSitutuation %}
                    <tr>
                        <td style="width: 25px">
                            <table style="width: 18px; border: 2px black solid">
                                <tr>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                        <td style=" width:100%"> {{ key }}</td>
                    </tr>

                {% endfor %}
            </table>
        </td>
    </tr>

    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td>{{ 'Ich bin alleinerziehend'|trans }}:</td>
        <td>
            <table cellspacing="3px">

                <tr>
                    <td style="width: 20px; border: 2px black solid"></td>
                    <td> {{ 'Ja'|trans }}</td>
                </tr>
                <tr>
                    <td style="width: 20px; border: 2px black solid"></td>
                    <td> {{ 'Nein'|trans }}</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2" style=" border-bottom: 1px black solid">{{ 'Name des Notfallkontakts'|trans }}:</td>
    </tr>
    <tr>
        <td colspan="2" style=" border-bottom: 1px black solid">{{ 'Telefonnummer für evtl. Notfälle'|trans }}:</td>
    </tr>
    <tr>
        <td colspan="2" style=" border-bottom: 1px black solid">{{ 'Weitere abholberechtigte Personen'|trans }}:</td>
    </tr>

    <tr>
        <td colspan="2"></td>
    </tr>
    {% if stadt.settingsAnzahlKindergeldempfanger %}

        <tr>
            <td colspan="2">{{ 'Anzahl der kindergeldberechtigten Kinder im selben Haushalt'|trans }}:</td>

        </tr>

        <tr>
            <td colspan="2"></td>
        </tr>
    {% endif %}
    {% if stadt.settingsEingabeDerGeschwister %}

        <tr>
            <td style=" border-bottom: 1px black solid" colspan="2">{{ 'Geschwisterkind'|trans }} 1:</td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Vorname'|trans }}:</td>
            <td style=" border-bottom: 1px black solid"></td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Nachname'|trans }}:</td>
            <td style=" border-bottom: 1px black solid"></td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Geburtsdatum'|trans }}:</td>
            <td style=" border-bottom: 1px black solid"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid" colspan="2">{{ 'Geschwisterkind'|trans }} 2:</td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Vorname'|trans }}:</td>
            <td style=" border-bottom: 1px black solid"></td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Nachname'|trans }}:</td>
            <td style=" border-bottom: 1px black solid"></td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Geburtsdatum'|trans }}:</td>
            <td style=" border-bottom: 1px black solid"></td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid" colspan="2">{{ 'Geschwisterkind'|trans }} 3:</td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Vorname'|trans }}:</td>
            <td style=" border-bottom: 1px black solid"></td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Nachname'|trans }}:</td>
            <td style=" border-bottom: 1px black solid"></td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Geburtsdatum'|trans }}:</td>
            <td style=" border-bottom: 1px black solid"></td>
        </tr>
        <tr>
            <td colspan="2"></td>
        </tr>
    {% endif %}
    {% if stadt.settingsSozielHilfeEmpfanger %}
        <tr>
            <td>{{ 'Beziehen Sie Leistungen nach dem SGB II, SGB XII, AsylbLG, Wohngeld oder Jugendhilfe'|trans }}:</td>
            <td>
                <table cellspacing="3px">

                    <tr>
                        <td style="width: 20px; border: 2px black solid"></td>
                        <td> {{ 'Ja'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="width: 20px; border: 2px black solid"></td>
                        <td> {{ 'Nein'|trans }}</td>
                    </tr>
                </table>
            </td>
        </tr>
    {% endif %}

    {% if stadt.settingsweiterePersonenberechtigte %}

        <tr>
            <td colspan="2"></td>
        </tr>
        <tr>
            <td colspan="2">
              <b> {{ 'Weitere personenberechtigte Personen'|trans }}</b>
            </td>
        </tr>
        <tr>
            <td colspan="2" style=" border-bottom: 1px black solid;">{{ 'Email'|trans }}:</td>
        </tr>
        <tr>
            <td colspan="2" style=" border-bottom: 1px black solid ">{{ 'Telefonnummer'|trans }}:</td>
        </tr>

        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Vorname'|trans }}:</td>
            <td style=" border-bottom: 1px black solid">{{ 'Nachname'|trans }}:</td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Straße'|trans }}:</td>
            <td style=" border-bottom: 1px black solid">{{ 'Adresszusatz'|trans }}:</td>
        </tr>
        <tr>
            <td style=" border-bottom: 1px black solid">{{ 'Postleitzahl'|trans }}:</td>
            <td style=" border-bottom: 1px black solid">{{ 'Stadt'|trans }}:</td>
        </tr>

        <tr>
            <td colspan="2"></td>
        </tr>

    {% endif %}

    <tr>
        <td colspan="2" style=" border-bottom: 1px black solid">{{ 'Kontoinhaber'|trans }}:</td>
    </tr>
    <tr>
        <td style=" border-bottom: 1px black solid">{{ 'IBAN'|trans }}:</td>
        <td style=" border-bottom: 1px black solid">{{ 'BIC'|trans }}:</td>
    </tr>
    </tbody>
</table>
<table>
    <tbody>
    <tr>
        <td colspan="6"></td>
    </tr>
    {% if stadt.settingsSkibSepaElektronisch %}
    <tr>
        <td>
            <table cellspacing="3px">
                <tr>
                    <td style="width: 20px; border: 2px black solid"></td>
                </tr>
            </table>
        </td>
        <td colspan="5">{% trans %}Ich ermächtige die betreuende Organisation{% endtrans %} {{ organisation.name }}
            {% trans %}Zahlungen von meinem  Konto mittels Lastschrift einzuziehen. Zugleich weise ich mein Kreditinstitut an, die von der betreuenden Organisation{% endtrans %} {{ organisation.name }}
            {% trans %}auf mein Konto gezogenen Lastschriften einzulösen{% endtrans %}.
        </td>

    </tr>

    <tr>
        <td colspan="6"></td>
    </tr>
    {% endif %}
    <tr>
        <td>
            <table cellspacing="3px">
                <tr>
                    <td style="width: 20px; border: 2px black solid"></td>
                </tr>
            </table>
        </td>
        <td style="color: red" colspan="5">{% trans with {'%stadt%':organisation.stadt.name} %}Ich habe die allgemeinen Vertragsbedingungen der %stadt% zur Schulkindbetreuung gelesen und akzeptiere diese.{% endtrans %}
        </td>
    </tr>
    <tr>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td>
            <table cellspacing="3px">
                <tr>
                    <td style="width: 20px; border: 2px black solid"></td>
                </tr>
            </table>
        </td>
        <td style="color: red" colspan="5">{% trans %}Ich habe verstanden, dass meine Anmeldung von den betreuenden Organisationen widerrufen werden kann, wenn die Betreuungskapazitäten überschritten sind. Ein Recht auf Aufnahme zur Betreuung besteht nicht.{% endtrans %}
        </td>
    </tr>
    <tr>
        <td colspan="6"></td>
    </tr>
    <tr>
        <td>
            <table cellspacing="3px">
                <tr>
                    <td style="width: 20px; border: 2px black solid"></td>
                </tr>
            </table>
        </td>
        <td style="color: red" colspan="5">{% trans with{'%s%':organisation.stadt.name} %}Ich habe die Datenschutzerklärung der %s%  gelesen und bin damit einverstanden, dass meine Daten und die Daten meiner Kinder elektronisch verarbeitet und an die betreuende Organisation weitergegeben werden.{% endtrans %}
        </td>
    </tr>
    </tbody>
</table>

<table>
    <tbody>
    <tr>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td style="border: 2px black solid; height: 100px"></td>
        <td style="border: 2px black solid"></td>
    </tr>
    <tr>
        <td style="border: 2px black solid">Datum</td>
        <td style="border: 2px black solid">Unterschrift</td>
    </tr>
    </tbody>
</table>