<div class="modal-dialog modal-dialog-scrollable  cascading-modal  modal-fluid">
    <div class="modal-content">
        <div class="modal-header light-blue darken-3 white-text">
            <h5 class="modal-title">{% trans %}Preisliste{% endtrans %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="preisliste_schule">{{ 'Schule'|trans }}</label>
                    <select class="mdb-select md-form preisliste_trigger" id="preisliste_schule">
                        <option value="{{ path('trager_preisliste',{'schule':schule.id,'slug':schule.organisation.stadt.slug}) }}" disabled selected>{{schule.name}}</option>
                        {% for s in schulen %}
                            <option value="{{ path('trager_preisliste',{'schule':s.id,'slug':s.organisation.stadt.slug}) }}">{{ s.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-4">
                    <label for="preisliste_gehalt">{{ 'Brutto Haushaltseinkommen pro Monat'|trans }}</label>
                    <select class="mdb-select md-form preisliste_trigger" id="preisliste_gehalt">
                        <option value="{{ gehaltIst }}" disabled selected>{{gehalt[gehaltIst]}} €</option>
                        {% for key,g in gehalt %}
                            <option value="{{ key }}">{{ g }}</option>
                        {% endfor %}

                    </select>
                </div>
                <div class="col-md-4">
                    <label for="preisliste_schulart">{{ 'Schulform'|trans }}</label>
                    <select class="mdb-select md-form preisliste_trigger" id="preisliste_schulart">
                        <option value="{{ artIst }}" disabled selected>{{art[artIst]}}</option>
                        {% for key,a in art %}
                            <option value="{{ key }}">{{ a }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div id="preislisteWrappre">
                <div id="preisliste_content">
                <div class="row" >

                </div>

                    <div class="row">
                        <div class="{% if blocks[6] is not defined and blocks[5] is not defined %} offset-lg-1 {% endif %}col-lg-2 text-center">
                            <h5 class="card-title text-center">{% trans %}Montag{% endtrans %}</h5>
                            {% if blocks[0] is defined %}
                                {% include 'preisliste/blockCard.html.twig' with {'blocks': blocks[0]} %}
                            {% else %}
                                <div class="note note-warning">
                                    {% trans %}
                                        An diesem Tag kann in der gewählen Schulform keine Betreuung gebucht werden.
                                    {% endtrans %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 text-center">
                            <h5 class="card-title">{% trans %}Dienstag{% endtrans %}</h5>
                            {% if blocks[1] is defined %}
                                {% include 'preisliste/blockCard.html.twig' with {'blocks': blocks[1]} %}
                            {% else %}
                                <div class="note note-warning">
                                    {% trans %}
                                        An diesem Tag kann in der gewählen Schulform keine Betreuung gebucht werden.
                                    {% endtrans %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 text-center">
                            <h5 class="card-title">{% trans %}Mittwoch{% endtrans %}</h5>
                            {% if blocks[2] is defined %}
                                {% include 'preisliste/blockCard.html.twig' with {'blocks': blocks[2]} %}
                            {% else %}
                                <div class="note note-warning">
                                    {% trans %}
                                        An diesem Tag kann in der gewählen Schulform keine Betreuung gebucht werden.
                                    {% endtrans %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 text-center">
                            <h5 class="card-title">{% trans %}Donnerstag{% endtrans %}</h5>
                            {% if blocks[3] is defined %}
                                {% include 'preisliste/blockCard.html.twig' with {'blocks': blocks[3]} %}
                            {% else %}
                                <div class="note note-warning">
                                    {% trans %}
                                        An diesem Tag kann in der gewählen Schulform keine Betreuung gebucht werden.
                                    {% endtrans %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-lg-2 text-center">
                            <h5 class="card-title">{% trans %}Freitag{% endtrans %}</h5>
                            {% if blocks[4] is defined %}
                                {% include 'preisliste/blockCard.html.twig' with {'blocks': blocks[4]} %}
                            {% else %}
                                <div class="note note-warning">
                                    {% trans %}
                                        An diesem Tag kann in der gewählen Schulform keine Betreuung gebucht werden.
                                    {% endtrans %}
                                </div>
                            {% endif %}
                        </div>
                        {% if blocks[5] is defined %}
                            <div class="{% if blocks[6] is not defined %} col-lg-2 {% else %}col-md-1{% endif %} text-center">
                                <h5 class="card-title">{% trans %}Samstag{% endtrans %}</h5>
                                {% include 'preisliste/blockCard.html.twig' with {'blocks': blocks[5]} %}
                            </div>
                        {% endif %}
                        {% if blocks[6] is defined %}
                            <div class="{% if blocks[5] is not defined %} col-lg-2 {% else %}col-md-1{% endif %} text-center">
                                <h5 class="card-title">{% trans %}Sonntag{% endtrans %}</h5>
                                {% include 'preisliste/blockCard.html.twig' with {'blocks': blocks[6]} %}
                            </div>
                        {% endif %}
                    </div>
            </div>
            </div>


        </div>
    </div>
</div>