<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<link href="https://unsere-schulkindbetreuung.de{{ path(app.request.get('_route'), app.request.get('_route_params')) }}"
      rel="canonical"/>


<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% if title is defined and title is not null %}{{ title }}{% else %}{% trans %}Anmeldeportal Schulkindbetreuung{% endtrans %} | {% if stadt is defined and stadt is not null %}{{ stadt.name }}{% endif %}{% endif %}
    | {{ app.request.locale|language_name(app.request.locale) }}</title>
{% if metaDescription is defined and metaDescription is not null %}
    <meta name="description" content="{{ metaDescription|striptags }}"/>
{% endif %}


<meta property="og:image" content="
{% if stadt is defined and stadt is not null %}
{{ absolute_url( vich_uploader_asset(stadt.image)) }}
{% else %}
{{ absolute_url(asset('images/logo-breit-mittig.png')) }}
{% endif %}"/>
<meta property="og:title"
      content="{% if title is defined and title is not null %}{{ title }}{% else %}{% trans %}Anmeldeportal Schulkindbetreuung{% endtrans %} | {% if stadt is defined and stadt is not null %}{{ stadt.name }}{% endif %}{% endif %}"/>
<meta property="og:description" content="
{% if metaDescription is defined and metaDescription is not null %}
{{ metaDescription }}
{% else %}
SKiB ist bisher die einzige Onlinelösung für die Anmeldung und die Verwaltung der Schulkindbetreuung und Ferienbetreuung.
{% endif %}"/>
<meta property="og:type" content="website"/>
{% set url =  absolute_url(path(app.request.get('_route'), app.request.get('_route_params'))) %}
<meta property="og:url" content="{{ url }}"/>
<meta property="og:site_name" content="SKiB unsere-Schulkindbetreuung.de"/>
{{ encore_entry_link_tags('frontend') }}
