<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="manifest" href="/site.webmanifest">

<link href="https://unsere-schulkindbetreuung.de{{ path(app.request.get('_route'), app.request.get('_route_params')) }}"
      rel="canonical"/>


<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{% if title is defined and title is not null %}{{ title }}{% else %}{% trans %}Anmeldeportal Schulkindbetreuung{% endtrans %} | {% if stadt is defined and stadt is not null %}{{ stadt.name }}{% endif %}{% endif %}
    | {{ app.request.locale|language_name(app.request.locale) }}</title>
{% if metaDescription is defined and metaDescription is not null %}
    <meta name="description" content="{{ metaDescription|striptags }}"/>
{% endif %}


<meta property="og:image" content="
{% if stadt is defined and stadt is not null %}
{{ absolute_url( vich_uploader_asset(stadt.image)) }}
{% else %}
{{ absolute_url(asset('images/logo-breit-mittig.png')) }}
{% endif %}"/>
<meta property="og:title"
      content="{% if title is defined and title is not null %}{{ title }}{% else %}{% trans %}Anmeldeportal Schulkindbetreuung{% endtrans %} | {% if stadt is defined and stadt is not null %}{{ stadt.name }}{% endif %}{% endif %}"/>
<meta property="og:description" content="
{% if metaDescription is defined and metaDescription is not null %}
{{ metaDescription }}
{% else %}
SKiB ist bisher die einzige Onlinelösung für die Anmeldung und die Verwaltung der Schulkindbetreuung und Ferienbetreuung.
{% endif %}"/>
<meta property="og:type" content="website"/>
{% set url =  absolute_url(path(app.request.get('_route'), app.request.get('_route_params'))) %}
<meta property="og:url" content="{{ url }}"/>
<meta property="og:site_name" content="SKiB unsere-Schulkindbetreuung.de"/>
{{ encore_entry_link_tags('frontend') }}
<!-- Matomo -->

<script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDomains", [".unsere-schulkindbetreuung.de",".skib-loerrach.de"]]);
    _paq.push(["enableCrossDomainLinking"]);
    _paq.push(["setDoNotTrack", true]);
    _paq.push(["disableCookies"]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
        var u="//analytics.h2-invent.com/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
</script>
<!-- End Matomo Code -->
