{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-center text-md-left">
        <h1 class="h1-responsive hauptfarbe">{% trans %}Online Anmeldung{% endtrans %}</h1>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">{% trans %}Fertig{% endtrans %}</div>
        </div>
    </div>
{% endblock %}
{% block content %}
        <h1 class="cover-heading"><img src="{{ asset('images/check-circle.gif') }}"> {% trans %}Fertig{% endtrans %}</h1>

    <div>
        <p>
            {% trans %}Vielen Dank f체r Ihre Anmeldung {% endtrans %}
        </p>
    </div>
    <div class="card mt-5">
        <div class="card-header">
            <h4>
                {% trans %}Folgende Tr채ger stehen f체r weitere Fragen zur Verf체gung{% endtrans %}.
            </h4>
        </div>
        <div class="card-body">
            {% for o in stadt.organisations %}
                <div class="row">
                    <div class="col-md-8 mb-1">
                        <b>{{ o.name }}</b><br>
                        {% trans %}Ansprechpartner{% endtrans %}: {{ o.ansprechpartner }}<br/>
                        {% trans %}Telefon{% endtrans %}: <a href="tel:{{ o.telefon }}">{{ o.telefon }}</a><br/>
                        {% trans %}E-Mail{% endtrans %}: <a href="mailto:{{ o.email }}">{{ o.email }}</a><br/>
                        {% if o.orgHomepage is not null %}
                            <a href="{{ o.orgHomepage }}"
                               target="_blank"
                               rel="noopener noreferrer"><i
                                        class="fas fa-external-link-alt"></i> {% trans %}Webseite{% endtrans %}</a><br/>
                        {% endif %}
                    </div>
                </div>
                <hr class="hr-bold">
            {% endfor %}

        </div>
    </div>
{% endblock %}
