<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    {% if stadt is defined and stadt is not null %}
        <meta name="theme-color" content="{{ stadt.hauptfarbe }}">
    {% endif %}
    <title>{% trans %}Unsere Schulkindbetreuung{% endtrans %}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('frontpage/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ asset('frontpage/css/mdb.min.css') }}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ asset('frontpage/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontpage/css/style.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontpage/css/snackbar.css') }}" rel="stylesheet">


    {% include 'workflow/inlineCSS.html.twig' with {'height':'14rem'} %}

    <script type="text/javascript" src="https://clickheat.h2-invent.com/js/clickheat.js"></script><noscript><p><a href="http://www.dugwood.com/clickheat/index.html">ClickHeat</a></p></noscript><script type="text/javascript"><!--
        clickHeatSite = 'skb';clickHeatGroup = encodeURIComponent(window.location.pathname+window.location.search);clickHeatServer = 'https://clickheat.h2-invent.com/click.php';initClickHeat(); //-->
    </script>
</head>

<body>

{% include 'workflow/navbar.html.twig' %}

<!-- Navbar -->

<!-- Full Page Intro -->


<div class="view"
{% if stadt is defined and stadt is not null and stadt.image is not empty %}
     style="background-image: url({{ vich_uploader_asset(stadt,'imageFile') }}); background-repeat: no-repeat; background-size: cover;">
{% else %}
    style="background-image: url('{{ asset('images/background.jpg') }}'); background-repeat: no-repeat; background-size: cover;">
{% endif %}
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex align-items-end">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row wow fadeIn">

                {% block header %}
                    <div class="col-md-6 mb-4 white-text text-centerm text-md-left">

                        <h1 class="font-weight-bold">{% trans %}Unsere Kinderbetreuung{% endtrans %}</h1>
                        <hr class="hr-light ">

                    </div>
                {% endblock %}
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
<main>
    <div class="container">
        <!--Section: Main info-->
        <section class="mt-5 wow fadeIn">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-12">
                    {% block content %}
                    {% endblock %}
                </div>
                <!--Grid column-->
            </div>
        </section>
    </div>
</main>

{% include 'workflow/footer.html.twig' %}

<div class="modal fade" id="loadContentModal" tabindex="-1" role="dialog" aria-labelledby="loadContentModal"
     aria-hidden="true">

</div>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="{{ asset('frontpage/js/jquery-3.4.1.min.js') }}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{{ asset('frontpage/js/popper.min.js') }}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{{ asset('frontpage/js/bootstrap.min.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ asset('frontpage/js/mdb.min.js') }}"></script>
<script src="{{ asset('frontpage/js/snackbar.js') }}"></script>
<script>
    $(document).on('click', '.loadContent', function (e) {
        e.preventDefault();
        var url = $(this).attr('href');
        $('#loadContentModal').load(url, function () {
            $('#loadContentModal ').modal('show');
        });

    });

</script>
<script>
    // popovers Initialization
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>
<script src="{{ asset('js/jquery.bs.gdpr.cookies.js') }}"></script>
<script type="text/javascript">
    var settings = {
        message: 'Cookies erleichtern die Bereitstellung unserer Dienste. Mit der Nutzung unserer Dienste erklären Sie sich damit einverstanden, dass wir Cookies verwenden. Weitere Informationen zum Datenschutz erhalten Sie über den folgenden Link: <b> Mehr erfahren  ',
        moreLinkLabel: 'hier</b>',
        messageMaxHeightPercent: 30,
        moreLink: '/datenschutz/',
        delay: 1000,
        allowAdvancedOptions: true,
        OnAccept: function () {
            console.log('Yay! User accepted your cookies window!');
            console.log('User preferences');
            var preferences = $.fn.bsgdprcookies.GetUserPreferences();
            console.log(preferences);

        }
    }

    $(document).ready(function () {
        $('body').bsgdprcookies(settings);

        $('#cookiesBtn').on('click', function () {
            $('body').bsgdprcookies(settings, 'reinit');
        });
    });


</script>
<script>

    {% if app.request.query.get("snack") is defined and app.request.query.get("snack") is not null %}
    var options = {

        text: "{{ app.request.query.get("snack") }}", // text of the snackbar
        duration: 10000, // time in milliseconds after the snackbar autohides, 0 is disabled
        pos: 'bottom-center',
    };
    Snackbar.show(options);
    {% endif %}


</script>

{% block jquery %}{% endblock %}
</body>

</html>
