{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
<!-- Custom styles for this template -->
    <link href="{{ asset('css/cover.min.css') }}" rel="stylesheet">
    <title>{{ stadt.name }}</title>
</head>


<!--<body class="text-center" style="background-image: url('{{ asset('images/background.jpg') }}');background-size: cover;background-attachment: fixed">
-->
<body style="background-image: url('{{ asset('images/background.jpg') }}');background-size: cover;background-attachment: fixed">

<!-- <div class="cover-container d-flex h-100 p-3 mx-auto flex-column"> -->
<div class="d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">

            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="#">Deutsch</a>
                <a class="nav-link" href="#">English</a>
                <a class="nav-link" href="#">Français</a>
            </nav>
        </div>
    </header>

    <main role="main" class="inner cover card">
        <div class="card-body">
        {% block content %}
        <h1 class="cover-heading">Cover your page.</h1>
        <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
        <p class="lead">
            <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
        </p>
        {% endblock %}
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>SKB 2020 | {{ shivas_app_version }}</p>
        </div>
    </footer>
</div>

<div class="modal fade" id="loadContentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ asset('vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('vendor/popper.js/umd/popper.min.js') }}"> </script>
<script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
<script src="//www.google.com/recaptcha/api.js?hl={{ app.request.locale }}"></script>

<script>
    $(document).on('click','.loadContent',function(e){
        e.preventDefault();
        var url = $(this).attr('href');
        $('#loadContentModal').modal('show');
        $('#loadContentModal .modal-content').load(url);
    });

</script>
{% block jquery %}

{% endblock %}

</body>
</html>