{% if blocks is defined %}
    {% for b in blocks %}
        <div class=" card ">


                {% if b.min is not null or b.max is not null %} <div class="card-header">{% trans %}Kontingent{% endtrans %}
                    <i class="far fa-question-circle" data-toggle="popover" data-placement="top" title="Ausfüllhilfe" data-content="{% trans %}Für diesen Block gibt es eine Beschschränkung der Betreungsplätzte.{% endtrans %}"></i>
                    </div>{% endif %}


            <div href="{{ path('loerrach_workflow_kinder_block_toggle', {'kinder_id':kind.id, 'block_id':b.id}) }}"  class="{% if b in kind.zeitblocks %}bg-success{% endif %}{% if b in kind.beworben %}bg-warning{% endif %} chooseBlock mask rgba-white-slight card-body text-center">
                <div class="loader d-none"><span class="spinner-border mr-2" role="status" aria-hidden="true"></span></div>

              {% if b.ganztag == 0 %} <b>{% trans %}Mittagessen{% endtrans %}<i class="fas fa-utensils"></i> </b> <br>{% endif %}
                {{ b.von|date('H:i') }}-{{ b.bis|date('H:i') }}<br>
                <b>Grundpreis: {{ b.preise[kind.eltern.einkommen]|number_format(2,',') }}€</b><br>
                <b class="gebucht-text">{% if b in kind.zeitblocks %}{{ 'Gebucht'|trans }}{% endif %}{% if b in kind.beworben %}{{ 'Angemeldet'|trans }}{% endif %}</b>
                <a href="#" class="btn">Hier buchen</a>
            </div>
        </div>
    {% endfor %}
{% endif %}




