<!-- Footer -->
<footer class="text-muted page-footer font-small py-1" {% if fix is not defined %}style="margin-top: 30px {% endif %}">

    <div class="container align-content-center">
        <div class="container-fluid text-center text-md-left ">

            <div class="row">

                <hr class="clearfix w-100 d-md-none d-none">

                {% if stadt is defined and stadt is not null %}
                <div class="col-lg-6 col-md-4 mb-md-0">
                    <ul class="list-unstyled">
                        <div class="font-weight-bold d-none d-md-block">
                            {{ 'Informationen'|trans }}
                        </div>
                        <li>
                            <a href={{ path('workflow_agb',{'slug':stadt.slug}) }}>{{ 'Vertragsbedingungen'|trans }}</a>
                        </li>
                        <li>
                            <a href={{ path('workflow_datenschutz',{'slug':stadt.slug,'org_id':'city'}) }}>{{ 'Datenschutzhinweis'|trans }}</a>
                        </li>
                        <li>
                            <a href={{ path('workflow_imprint',{'slug':stadt.slug}) }}>{% trans %}Impressum{% endtrans %}</a>
                        </li>
                    </ul>
                </div>
                    <div class="col-lg-6 col-md-8 mb-md-0 text-md-right">
                        <b class="d-none d-md-block">
                            {% trans with {"%name%":stadt.name} %}Im Auftrag der %name%{% endtrans %}
                        </b>

                        {% if stadt.logoUrl is not empty %}
                            <div class="mt-2">
                                <a href="{{ stadt.stadtHomepage }}">
                                    <img src="{{ stadt.logoUrl }}" alt="Unsere SKiB" style="width: 210px">
                                </a>
                            </div>
                        {% endif %}
                    </div>

                    {% else %}
                        <div class="col-lg-12">
                            <ul class="nav justify-content-center">

                                <li class="nav-item">
                                    <a class="nav-link" href={{ path('impressum') }}>{% trans %}Impressum{% endtrans %}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href={{ path('datenschutz') }}>{{ 'Datenschutzhinweis'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                {% endif %}
            </div>

        </div>
    </div>
    <div class="footer-copyright text-center py-2">
        Made with ❤ in Lörrach by H2 invent GmbH • {{ 'now'|date('Y') }} • <a target="_blank" rel="nofollow" href="https://book.h2-invent.com/books/skib/page/versionen-und-changelog"> v{{ shivas_app_version }}</a> • <a href={{ path('sitemap') }}>{% trans %}Sitemap{% endtrans %}</a> • <a href="https://unsere-schulkindbetreuung.de">{% trans %}SKiB Software - H2 invent{% endtrans %}</a>

    </div>
</footer>
<!-- Footer -->
