{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-center text-md-left">
        <h1 class="h1-responsive hauptfarbe">{% trans %}Online Anmeldung{% endtrans %}</h1>
        <hr class="hr-light ">
    </div>
{% endblock %}
{% block content %}
        <h1 class="cover-heading">{{ titel }}</h1>
<p>{{ text }}</p>
    <ul>
        {% if errors is defined %}
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
        {% endif %}
    </ul>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('workflow_reset_Email',{'uid':stammdaten.uid,'stadt':stadt.id,'redirect':redirect,'resendEmail':stammdaten.resendEmail}) }}">{{ 'E-Mail erneut senden'|trans }}</a>
{% endblock %}
