<nav class="navbar fixed-top navbar-expand-md navbar-custom navbar-dark scrolling-navbar">
    <div class="container">
        <!-- Brand -->
        {% if stadt is defined and stadt is not null %}
            {% if stadt.logoUrl is empty %}
                <a class="navbar-brand" href="{{ path('workflow_start', {'slug': stadt.slug}) }}">
                    <h1 class="hauptfarbe">{{ stadt.name }}</h1>
                </a>
            {% else %}
                <a class="navbar-brand" href="{{ path('workflow_start', {'slug': stadt.slug}) }}">
                    <img src="{{ stadt.logoUrl }}" alt="{{ stadt.name }}" style="max-height: 40px">
                </a>
            {% endif %}
        {% else %}
            <a class="navbar-brand" href="{{ path('welcome_landing') }}">
                <strong>SKB</strong>
            </a>
        {% endif %}

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCustom">
            <i class="fa fa-bars fa-lg py-1 text-white"></i>
        </button>

        <div class="navbar-collapse collapse" id="navbarCustom">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('welcome_landing') }}">{% trans %}Home{% endtrans %}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        {% trans %}Sprachen{% endtrans %}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Deutsch</a>
                        <a class="dropdown-item" href="#">English</a>
                        <a class="dropdown-item" href="#">Francais</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('dashboard') }}">{% trans %}Login{% endtrans %}</a>
                </li>
            </ul>

        </div>
    </div>
</nav>