<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% if stadt is not defined %}
        {% set stadt = null %}
    {% endif %}
    {% include 'workflow/_head.html.twig' with {'stadt':stadt} %}

    {% include 'workflow/inlineCSS.html.twig' with {'height':'100%'} %}
</head>
<body>
<!-- Navbar -->
{% include 'workflow/navbar.html.twig' %}
<!-- Navbar -->
<div id="share"></div>
<div class="view full-page-intro ">
    <div class="jarallax">
        <img class="jarallax-img" src="
   {% if stadt.image is empty %}{{ asset('images/background.jpg')|imagine_filter('my_background')|makeHttps }}
        {% else %}{{ vich_uploader_asset(stadt,'imageFile')|imagine_filter('my_background')|makeHttps }}
        {% endif %}

" alt="">

        <div class="mask d-flex justify-content-center align-items-end rgba-black-light">

            <div class="container ">

                <div class="row wow fadeIn">

                    <div class="col-md-12 mb-6 white-text text-center">
                        {% if stadt.ferienprogramm %}
                            <h1 class="font-weight-bold h1-responsive maincolor">{% trans %}Online Anmeldung zur Schulkindbetreuung und Ferienbetreuung{% endtrans %}</h1>
                        {% else %}
                            <h1 class="font-weight-bold h1-responsive maincolor">{% trans %}Online Anmeldung zur Schulkindbetreuung{% endtrans %}</h1>
                        {% endif %}
                        <hr class="hr-light ">
                    </div>

                    <div class="col-md-12 mb-4 white-text text-center lead">

                        <p class="lead d-none d-sm-block {% if not stadt.active %}bg-danger z-depth-2 rotateTitle {% endif %}">
                            {% if not stadt.active %}
                                {% trans with {"%name%":stadt.name} %}Diese Webseite ist aktuell in der Entwicklung. Bitte keine echten personenbezogenen Daten eintragen. Melden Sie hier ihr Kind/Kinder für die Schulkindbetreuung der %name% an{% endtrans %}
                            {% else %}
                                {% trans with {"%name%":stadt.name} %}Melden Sie hier ihr Kind/Kinder für die Schulkindbetreuung der %name% an{% endtrans %}
                            {% endif %}
                        </p>
                    </div>

                    {% if stadt.ferienprogramm and stadt.schulkindBetreung %}
                        <div class="col-md-6 mb-4 white-text text-center">
                            <p class="lead align-content-center">
                                <a href="{{ path('loerrach_workflow_adresse',{'slug':stadt.slug}) }}"
                                   class="btn btn-primary btn-lg">
                                    {% if app.request.cookies.has('SecID') %}
                                        {% trans %}Kind bearbeiten{% endtrans %}
                                    {% else %}
                                        {% trans %}Kind/Kinder zur Schulkindbetreuung anmelden{% endtrans %}
                                    {% endif %}
                                </a>
                            </p>
                        </div>
                        <div class="col-md-6 mb-4 white-text text-center">
                            <p class="lead align-content-center">
                                <a href="{{ path('ferien_adresse', {'slug': stadt.slug }) }}"
                                   class="btn btn-primary btn-lg">
                                    {% trans %}Kind/Kinder zur Ferienbetreuung anmelden{% endtrans %}
                                </a>
                            </p>
                        </div>
                    {% elseif stadt.schulkindBetreung %}
                        <div class="col-md-12 mb-4 white-text text-center">
                            <p class="lead align-content-center">
                                <a href="{{ path('loerrach_workflow_adresse',{'slug':stadt.slug}) }}"
                                   class="btn btn-primary btn-lg">
                                    {% if app.request.cookies.has('SecID') %}
                                        {% trans %}Kind bearbeiten{% endtrans %}
                                    {% else %}
                                        {% trans %}Kind/Kinder zur Schulkindbetreuung anmelden{% endtrans %}
                                    {% endif %}
                                </a>
                            </p>
                        </div>
                    {% elseif stadt.ferienprogramm %}
                        <div class="col-md-12 mb-4 white-text text-center">
                            <p class="lead align-content-center">
                                <a href="{{ path('ferien_adresse', {'slug': stadt.slug }) }}"
                                   class="btn btn-primary btn-lg">
                                    {% trans %}Kind/Kinder zur Ferienbetreuung anmelden{% endtrans %}
                                </a>
                            </p>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-12 mb-4 white-text text-center align-content-center">
                    <section id="scroll" class="scroll">

                        <a href="#start" class="scroller"><span></span></a>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<main>
    <div class="container anchor" id="start">

        <section class="mt-5 wow fadeIn">

            <div class="row">

                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3>{% trans %}Herzlich Willkommen bei SKiB der{% endtrans %} {{ stadt.name }}</h3>
                        </div>
                        <div class="row card-body">
                            <div class="col-md-8" style="border-right: solid lightgrey 1px">
                                <span {% if stadt.showShowMoreToggleOnHomescreen == true %}class="more"{% endif %}>
                                   {{ cityInfoText|markdown_to_html }}
                               </span>


                            </div>
                            <div class="col-md-4">
                                <h4>
                                    {% trans %}Neuigkeiten{% endtrans %}
                                </h4>
                                <hr class="hr-bold">
                                {% if stadt.news is not null %}
                                    {% for n in news|slice(0, 3) %}

                                        <!-- Small news -->
                                        <div class="single-news mb-lg-0 mb-4">

                                            <!-- Grid row -->
                                            <div class="row">

                                                <!-- Grid column -->

                                                <!-- Grid column -->

                                                <!-- Grid column -->
                                                <div class="col-md-12">

                                                    <!-- Excerpt -->
                                                    <p class="font-weight-bold dark-grey-text">{{ n.date|date('d.m.Y') }} {{ n.title }}</p>
                                                    <div class="d-flex justify-content-between">
                                                        <div class="col-11 text-truncate pl-0 mb-lg-0 mb-3">

                                                            <a class="loadContent"
                                                               href="{{ path('news_show_all', {'id': n.id, 'slug': stadt.slug}) }}"
                                                               class="dark-grey-text"> {{ n.message|striptags('<br>')|raw }}</a>
                                                        </div>
                                                        <a class="loadContent"
                                                           href="{{ path('news_show_all', {'id': n.id, 'slug': stadt.slug}) }}"><i
                                                                    class="fas fa-angle-double-right"></i></a>
                                                    </div>

                                                </div>
                                                <!-- Grid column -->

                                            </div>
                                            <!-- Grid row -->
                                            <hr class="hr-bold">
                                        </div>
                                        <!-- Small news -->




                                    {% endfor %}
                                    <a href="{{ path('news_show_page', {'slug': stadt.slug }) }}"
                                       class="btn btn-primary">
                                        {{ 'Alle Neuigkeiten'|trans }}
                                    </a>
                                {% endif %}
                                {% if stadt.translate.coverText %}
                                    <div class="card mt-3">
                                        <div class="card-body">
                                            {{ stadt.translate.coverText|raw }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if stadt.schulkindBetreung %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <h3> {% trans %}Für folgende Schulen können Sie die Schulkindbetreuung hier online buchen.{% endtrans %}</h3>
                                {% if schuljahr is not null %}
                                    <p style="font-family: TypeWritersSubstitute">
                                        {% trans %}Aktuelles Schuljahr{% endtrans %}: {{ schuljahr.von|date('d.m.Y') }}
                                        - {{ schuljahr.bis|date('d.m.Y') }} | {{ 'Anmeldezeitraum'|trans }}
                                        : {{ schuljahr.anmeldeStart|date('d.m.Y') }}
                                        - {{ schuljahr.anmeldeEnde|date('d.m.Y') }}
                                    </p>
                                {% else %}
                                    <p style="font-family: TypeWritersSubstitute">
                                        {% trans %}Sie befinden sich aktuell außerhalb des Anmeldezeitraums und können die Anmeldung nicht starten.{% endtrans %}
                                    </p>
                                {% endif %}
                            </div>
                            <div class="card-body">
                                <div class="row row-eq-height">
                                    <!-- Count item widget-->


                                    {% set actualSchuljahr = getLaufendSchuljahr(stadt) %}
                                    {% set anmeldeSchuljahr = getAnmeldeSchuljahr(stadt) %}

                                    {% for s in schule %}
                                        <div class="col-md-6 col-lg-4 mb-4">
                                            <div class="cardhoverable h-100 card  ">
                                                <div class=" overlay skib-card-image">

                                                    <img class="card-img-top lazy"
                                                            {% if s.image %}
                                                                data-src="{{ vich_uploader_asset(s,'imageFile')|imagine_filter('my_cards')|makeHttps }}"
                                                                alt="{{ s.name }} Logo"
                                                            {% else %}
                                                                data-src="{{ asset('images/logo-breit-mittig.png')|imagine_filter('my_cards')|makeHttps }}"
                                                                alt="SKiB Logo"
                                                            {% endif %}
                                                         style="max-height: 300px"
                                                    />
                                                    <noscript>
                                                        <img class="card-img-top"
                                                                {% if s.image %}
                                                                    src="{{ vich_uploader_asset(s,'imageFile')|imagine_filter('my_cards')|makeHttps }}"
                                                                    alt="{{ s.name }} Logo"
                                                                {% else %}
                                                                    src="{{ asset('images/logo-breit-mittig.png')|imagine_filter('my_cards')|makeHttps }}"
                                                                    alt="SKiB Logo"
                                                                {% endif %}
                                                             style="max-height: 300px"
                                                        />
                                                    </noscript>

                                                    <div class="mask rgba-white-slight"></div>

                                                </div>

                                                <div class="card-body text-center">
                                                    <h5 class="card-title">{{ s.name }}</h5>
                                                    <div class="btn-group-vertical" role="group"
                                                         aria-label="Basic example">
                                                        <a href="{{ path('trager_preisliste',{'schule':s.id,'slug':stadt.slug}) }}"
                                                           class="loadContent btn-rounded btn-outline-primary btn btn-sm">{{ 'Zeitblöcke und Preise'|trans }}</a>
                                                        <a href="{{ path('loerrach_workflow_adresse',{'slug':stadt.slug}) }}"
                                                           class="btn-rounded btn-outline-primary btn  btn-sm">{{ 'Kind anmelden'|trans }}</a>
                                                        {% if actualSchuljahr|length > 0 or (anmeldeSchuljahr|length > 0 and is_granted('IS_AUTHENTICATED_FULLY')) %}

                                                            <!--Trigger-->
                                                            <a class="btn-rounded btn-outline-primary btn-sm btn dropdown multi-level-dropdown"
                                                               type="button" id="dropdownMenu1"
                                                               data-toggle="dropdown"
                                                               aria-haspopup="true"
                                                               aria-expanded="false">{{ 'Anmeldungs-/Änderungsformular'|trans }}</a>
                                                            <!--Menu-->
                                                            <ul style="list-style-type:none"
                                                                class="dropdown-menu mt-2 rounded-0 white border-0 z-depth-1">

                                                                {% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.stadt == stadt %}
                                                                    {% for  a in anmeldeSchuljahr %}

                                                                        <li class="dropdown-item dropdown-submenu p-0">
                                                                            <a href="#" data-toggle="dropdown"
                                                                               class="dropdown-toggle dropdown-item w-100">{{ a.von|date('d.m.Y') }}
                                                                                - {{ a.bis|date('d.m.Y') }}</a>
                                                                            <ul class="dropdown-menu  rounded-0 white border-0 z-depth-1">

                                                                                {% if s.blocksforThisYearAndType(1,a)|length > 0 %}

                                                                                    <li class="dropdown-item p-0">
                                                                                        <a href="{{ path('download_formular_schule',{'cat':1,'schule':s.id,'schuljahr': a.id}) }}"
                                                                                           class="dropdown-item w-100">{{ 'Ganztag'|trans }}</a>
                                                                                    </li>
                                                                                {% endif %}
                                                                                {% if s.blocksforThisYearAndType(2,a)|length > 0 %}
                                                                                    <li class="dropdown-item p-0">
                                                                                        <a href="{{ path('download_formular_schule',{'cat':2,'schule':s.id,'schuljahr': a.id}) }}"
                                                                                           class="dropdown-item w-100">{{ 'Halbtag'|trans }}</a>
                                                                                    </li>
                                                                                {% endif %}

                                                                            </ul>
                                                                        </li>
                                                                    {% endfor %}

                                                                {% else %}

                                                                    {% for  a in  actualSchuljahr %}
                                                                        <li class="dropdown-item dropdown-submenu p-0">
                                                                            <a href="#" data-toggle="dropdown"
                                                                               class="dropdown-toggle dropdown-item w-100">{{ a.von|date('d.m.Y') }}
                                                                                - {{ a.bis|date('d.m.Y') }} </a>
                                                                            <ul class="dropdown-menu  rounded-0 white border-0 z-depth-1">

                                                                                {% if s.blocksforThisYearAndType(1,a)|length > 0 %}

                                                                                    <li class="dropdown-item p-0">
                                                                                        <a href="{{ path('download_formular_schule',{'cat':1,'schule':s.id,'schuljahr': a.id}) }}"
                                                                                           class="dropdown-item w-100">{{ 'Ganztag'|trans }}</a>
                                                                                    </li>
                                                                                {% endif %}
                                                                                {% if s.blocksforThisYearAndType(2,a)|length > 0 %}
                                                                                    <li class="dropdown-item p-0">
                                                                                        <a href="{{ path('download_formular_schule',{'cat':2,'schule':s.id,'schuljahr': a.id}) }}"
                                                                                           class="dropdown-item w-100">{{ 'Halbtag'|trans }}</a>
                                                                                    </li>
                                                                                {% endif %}

                                                                            </ul>
                                                                        </li>
                                                                    {% endfor %}

                                                                {% endif %}

                                                            </ul>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    {% trans %}Betreuende Organisation{% endtrans %}
                                                    : {{ s.organisation.name }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if stadt.ferienprogramm %}
                        <div class="card mb-4">
                            <div class="card-header">
                                <h3> {% trans %}Von folgenden Trägern kann das Ferienprogramm hier online gebucht werden.{% endtrans %}</h3>
                            </div>
                            <div class="card-body">
                                <div class="row row-eq-height">
                                    <!-- Count item widget-->
                                    {% for o in stadt.organisations %}
                                        <div class="col-md-4 col-sm-6">
                                            <div class="card hoverable">
                                                <div class="view overlay skib-card-image">

                                                    <img class="card-img-top lazy" style="max-height: 300px"

                                                         data-src="{{ vich_uploader_asset(o,'imageFile')|imagine_filter('my_cards')|makeHttps }}"
                                                         alt="{{ o.name }} Logo" style="max-height: 300px"

                                                    />
                                                    <noscript>
                                                        <img class="card-img-top lazy" style="max-height: 300px"
                                                             src="{{ vich_uploader_asset(o,'imageFile')|imagine_filter('my_cards')|makeHttps }}"
                                                             alt="{{ o.name }} Logo" style="max-height: 300px"

                                                        />
                                                    </noscript>


                                                    <a href="{{ path('ferien_adresse', {'slug': stadt.slug}) }}">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </a>
                                                </div>

                                                <div class="card-body ">
                                                    <h5 class="card-title">{{ o.name }}</h5>


                                                </div>


                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>


            <div class="row">

                <div class="col-lg-12">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h3> {% trans %}Weitere Informationen{% endtrans %}</h3>
                        </div>
                        <div class="card-body">
                            <div class="card mb-2">
                                <div class="card-body">
                                    <h4>
                                        {{ stadt.name }}
                                    </h4>
                                    {% if stadt.stadtHomepage is not null %}
                                        <a href="{{ stadt.stadtHomepage }}"
                                           target="_blank" rel="noopener noreferrer"><i
                                                    class="fas fa-external-link-alt"></i> {% trans %}Webseite{% endtrans %}
                                        </a><br/>
                                    {% endif %}
                                    <a href="{{ path('workflow_agb',{'slug':stadt.slug}) }}"
                                       target="_blank"
                                       rel="noopener noreferrer">{% trans with{'%stadt%':stadt.name} %}Allgemeine Vertragsbedingungen der %stadt%{% endtrans %}</a><br/>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <h4>
                                        {{ 'Betreuende Organisationen'|trans }}
                                    </h4>
                                    {% for o in stadt.organisations %}
                                        <div class="row mb-1">
                                            <div class="col-md-8">
                                                <b>{{ o.name }}</b><br>
                                                {% trans %}Ansprechpartner{% endtrans %}: {{ o.ansprechpartner }}<br/>
                                                {% trans %}Telefon{% endtrans %}: <a
                                                        href="tel:{{ o.telefon }}">{{ o.telefon }}</a><br/>
                                                {% trans %}E-Mail{% endtrans %}: <a
                                                        href="mailto:{{ o.email }}">{{ o.email }}</a><br/>
                                                {% if o.orgHomepage is not null %}
                                                    <a href="{{ o.orgHomepage }}"
                                                       target="_blank" rel="noopener noreferrer"><i
                                                                class="fas fa-external-link-alt"></i> {% trans %}Webseite{% endtrans %}
                                                    </a><br/>
                                                {% endif %}
                                                {% if o.slug %}
                                                    <a href="{{ path('organisation_profil', {'slug':o.slug}) }}">{{ 'Weitere Informationen'|trans }}</a>
                                                {% endif %}
                                            </div>
                                            <div class="col-md-4 text-center">
                                                {% if o.image is not empty %}
                                                    <img src="{{ vich_uploader_asset(o,'imageFile')|imagine_filter('my_logos')|makeHttps }}"
                                                         style="max-height: 110px; max-width: 100%"
                                                         alt="{{ o.name }} Logo">
                                                {% endif %}
                                            </div>
                                        </div>
                                        {% if not loop.last %}
                                            <hr class="hr-bold">
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

{% include 'workflow/footer.html.twig' %}
<div class="modal fade" id="loadContentModal" tabindex="-1" role="dialog" aria-labelledby="loadContentModal"
     aria-hidden="true">

</div>
<script>

    bssettings = {
        title: '{% trans %}Cookie & Datenschutzhinweis{% endtrans %}',
        message: '{% trans %}Cookies ermöglichen die Bereitstellung unserer Dienste. Mit der Nutzung unserer Dienste erklären Sie sich damit einverstanden, dass wir Cookies verwenden. Weitere Informationen zum Datenschutz erhalten Sie über den folgenden Link{% endtrans %}: <b>',
        moreLinkLabel: '{% trans %}Mehr erfahren{% endtrans %}</b>',
        messageMaxHeightPercent: 30,
        {% if stadt is defined and stadt is not null %}
        moreLink: '{{ path('workflow_datenschutz',{'slug':stadt.slug,'org_id':'city'}) }}',
        {% else %}
        moreLink: '{{ path('datenschutz') }}',
        {% endif %}
        delay: 1000,
        allowAdvancedOptions: false,
        acceptButtonLabel: 'OK',
        OnAccept: function () {
            console.log('Yay! User accepted your cookies window!');
            console.log('User preferences');
            var preferences = $.fn.bsgdprcookies.GetUserPreferences();
            console.log(preferences);

        }
    }
</script>
<script>
    mehrLesen = '{{ 'Mehr lesen'|trans }}';
    wenigerLesen = '{{ 'Schließen'|trans }}'

</script>
<script type="text/javascript" src="{{ asset('build/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/popper.min.js') }}"></script>

{% block webpack %}
    {{ encore_entry_script_tags('startpage') }}
{% endblock %}

<script type="text/javascript" src="{{ asset('build/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/mdb.min.js') }}"></script>

</body>

</html>
