<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Die Schulkindbetreuung von {{ stadt.name }}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('frontpage/css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{{ asset('frontpage/css/mdb.min.css') }}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{{ asset('frontpage/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('frontpage/css/style.min.css') }}" rel="stylesheet">
    <link href="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.css" rel="stylesheet">

{% include 'workflow/inlineCSS.html.twig' with {'height':'100%'} %}

</head>

<body>
<!-- Navbar -->
{% include 'workflow/navbar.html.twig' %}
<!-- Navbar -->

<div class="view full-page-intro "
     {% if stadt.image is empty %}style="background-image: url('{{ asset('images/background.jpg') }}'); background-repeat: no-repeat; background-size: cover;"
    {% else %}style="background-image: url({{ vich_uploader_asset(stadt,'imageFile') }}); background-repeat: no-repeat; background-size: cover;"
    {% endif %}>

    <div class="mask d-flex justify-content-center align-items-end rgba-black-light">

        <div class="container ">

            <div class="row wow fadeIn">

                <div class="col-md-12 mb-6 white-text text-center">
                    <h1 class="font-weight-bold hauptfarbe">{% trans %} Anmeldung zur Kinderbetreuung {% endtrans %}</h1>
                    <hr class="hr-light ">
                </div>

                <div class="col-md-6 mb-4 white-text text-center text-md-left d-none d-sm-block">
                    <p class="lead">{% trans with {"%name%":stadt.name} %}Diese Webseite ist aktuell in der Entwicklung. Bitte keine echten personenbezogenen Daten eintragen. Melden Sie hier ihr Kind/Kinder für die Schulkindbetreuung der Stadt %name% an{% endtrans %}</p>

                </div>

                <div class="col-md-6 mb-4 white-text text-center">
                    <p class="lead align-content-center">
                        <a href="{{ url }}" class="btn btn-primary btn-lg" >
                            {% if app.request.cookies.has('SecID') %}
                                {% trans %}Kind bearbeiten{% endtrans %}
                            {% else %}
                                {% trans %}Hier Kind/Kinder anmelden{% endtrans %}
                            {% endif %}
                        </a>
                    </p>
                </div>
            </div>
            <div class="col-md-12 mb-4 white-text text-center align-content-center">
                <section id="scroll">

                    <a href="#start"><span></span></a>
                </section>
            </div>
        </div>
    </div>
</div>
    <main>
        <div class="container anchor" id="start">

            <section class="mt-5 wow fadeIn">

                <div class="row">

                    <div class="col-lg-12">
                        <h4>{% trans %}Herzlich Willkommen bei der neuen Schulkindbetreuung{% endtrans %}</h4>
                        <p>
                            {{ cityInfoText|nl2br }}
                        </p>
                        <h4> {% trans %}Folgende Schulen können hier online gebucht werden.{% endtrans %}</h4>
                        <section class="dashboard-counts section-padding" id="schulenShow">
                            <div class="container-fluid ">

                                <div class="card-deck">
                                    <!-- Count item widget-->
                                    {% for s in schule %}
                                        <div class="card mb-4 ">
                                            <div class="view overlay">

                                                <img class="card-img-top" src="{{ vich_uploader_asset(s,'imageFile') }}" alt="{{ s.name }}" style="max-height: 300px">
                                                <a href="adresse">
                                                    <div class="mask rgba-white-slight"></div>
                                                </a>
                                            </div>

                                            <div class="card-body ">
                                                <h5 class="card-title">{{ s.name }}</h5>
                                                <p class="card-text">{{ s.infoText }}</p>

                                            </div>

                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                        </section>

                    </div>
                </div>
            </section>
        </div>
    </main>

{% include 'workflow/footer.html.twig' %}

    <script type="text/javascript" src="{{ asset('frontpage/js/jquery-3.4.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('frontpage/js/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('frontpage/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('frontpage/js/mdb.min.js') }}"></script>
    <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
<script>
    $(function () {
        $("a[href*=\\#]").on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
        });
    });
</script>

</body>

</html>