{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 card">
                    <div class="card-header">
                        <h1>App Verbindung</h1>
                    </div>
                    <div class="card-body">
                        <img src="{{ qr_code_path(absolute_url(path('connect_User',{'appToken':user.appToken}))|makeHttps,'default') }}"/>
                        {% if user.appSettingsSaved == true %}
                            <h3>Gerät verbunden</h3>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    Gerät:&nbsp;<b>{{ user.appDevice }}</b>
                                </li>
                                <li class="list-group-item">
                                    OS:&nbsp;<b>{{ user.appOS }}</b>
                                </li>
                                <li class="list-group-item">
                                    IMEI:&nbsp;<b>{{ user.AppImei }}</b>
                                </li>
                            </ul>
                        {% endif %}
                        <div class="mt-4">
                            <a href="{{ path('connection_app_disconnect') }}" class="btn btn-primary">{{ 'Verbindung zu der App trennen'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}