{% if date is defined %}

    {% for block in date %}
        <div class="accordion">
            <div class="card mb-1">
                <div class="card-header" id="heading{{ block.id }}">
                    <a type="button" data-toggle="collapse"
                       data-target="#collapse{{ block.id }}"
                       aria-expanded="true" aria-controls="collapse{{ block.id }}">
                        <h5>
                            {{ block.translate.titel }}
                        </h5>
                        {% if block.startVerkauf < today and block.endVerkauf > today %}
                            <div class="alert alert-success" role="alert">
                                <i class="fas fa-check"></i>
                                Anmeldung geöffnet<br/>
                            </div>
                        {% else %}
                            <div class="alert alert-info" role="alert">
                                <i class="fas fa-exclamation"></i>
                                Anmeldung geschlossen
                            </div>
                        {% endif %}
                    </a>
                </div>
                <div id="collapse{{ block.id }}" class="collapse"
                     aria-labelledby="heading{{ block.id }}"
                     data-parent="#accordion">
                    <div class="card-body">
                        <h4 class="mt-1">
                            {{ block.translate.titel }}<br/>
                        </h4>
                        <p>
                            {{ block.translate.infoText|nl2br }}
                        </p>
                        {% if block.startVerkauf > today and block.endVerkauf < today %}
                            <div class="row alert alert-info" role="alert">
                                <div class="col-sm-1">
                                    <i class="fas fa-exclamation fa-2x"></i>
                                </div>
                                <div class="col-sm-10">
                                    Der Anmeldezeitraum für dieses Programm ist vorüber.<br/>
                                    Anmeldezeitraum: {{ block.startVerkauf|date('d.m.Y') }} {% trans %}bis{% endtrans %} {{ block.endVerkauf|date('d.m.Y') }}
                                </div>
                            </div>
                        {% endif %}
                        <hr class="hr-dark">
                        <div class="row mt-2">
                            <div class="col-sm-3">
                                <h5>
                                    {% trans %}Ort{% endtrans %}
                                </h5>
                            </div>
                            <div class="col-sm-9">
                                {{ block.Ort|nl2br }}
                            </div>
                        </div>

                        <hr class="hr-dark">
                        <div class="row mt-2">
                            <div class="col-sm-3">
                                <h5>
                                    {% trans %}Termin{% endtrans %}
                                </h5>
                            </div>
                            <div class="col-sm-9">
                                <b>{{ block.startDate|date('d.m.Y') }} {% if block.startDate == block.endDate %}- {{ block.endDate|date('d.m.Y') }}{% endif %}</b><br/>
                                {% trans %}Begin{% endtrans %}: {{ block.startTime|date('g:i') }}<br/>
                                {% trans %}Ende{% endtrans %}: {{ block.endTime|date('g:i') }}<br/>
                            </div>
                            <div class="col-sm-3">
                                <p>
                                    {% trans %}Anmeldezeitraum{% endtrans %}
                                </p>
                            </div>
                            <div class="col-sm-9">
                                <b> {{ block.startVerkauf|date('d.m.Y') }} - {{ block.endVerkauf|date('d.m.Y') }}</b><br/>
                            </div>
                        </div>

                        <hr class="hr-dark">
                        <div class="row mt-2">
                            <div class="col-sm-3">
                                <h5>
                                    {% trans %}Anzahl Plätze{% endtrans %}
                                </h5>
                                {% if block.minAnzahl is not null or block.maxAnzahl is not null %}
                                    <div>{% trans %}Kontingent{% endtrans %}
                                        <i class="fas fa-question-circle" data-toggle="popover" data-placement="top"
                                           title="{% trans %}Ausfüllhilfe{% endtrans %}"
                                           data-content="{% trans %}Für diesen Block gibt es eine Beschschränkung der Betreungsplätzte.{% endtrans %}"></i>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-sm-9">
                                {% if block.minAnzahl is not null %}
                                    {% trans %}Minimal{% endtrans %}: {{ block.minAnzahl }}<br/>
                                {% endif %}
                                {% if block.maxAnzahl is not null %}
                                    {% trans %}Maximal{% endtrans %}: {{ block.maxAnzahl }}<br/>
                                    {% trans %}Freie Plätze{% endtrans %}: {{ block.maxAnzahl - block.KindFerienblocksGebucht|length }}
                                {% endif %}
                            </div>
                        </div>

                        <hr class="hr-dark">
                        <div class="row mt-2">
                            <div class="col-sm-3">
                                <h5>
                                    {% trans %}Preise{% endtrans %}
                                </h5>
                            </div>
                            <div class="col-sm-9">
                                {% for p in block.preis %}
                                    <p>


                                        // todo price buttons have no impact on bg-success

                                        {{ block.namePreise[loop.index-1] }}: {{ p|number_format(2,',','.') }} €
                                        {% if block.startVerkauf < today and block.endVerkauf > today %}
                                            <a href="{{ path('ferien_kinder_block_toggle', {'slug':stadt.slug,'kind_id':kind.id, 'block_id':block.id, 'preis_id':loop.index-1}) }}"
                                               class="btn chooseBlock {% if kind.kindFerienblocksGebucht %}bg-success{% endif %}">{% trans with {'%name%':block.namePreise[loop.index-1]} %} Hier zum %name% buchen{% endtrans %}</a>
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endif %}
