{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-center text-md-left">
            <h1 class="font-weight-bold hauptfarbe">{% trans %}Online Anmeldung für Ferienbetreuung{% endtrans %}</h1>
        <hr class="hr-light ">
    </div>

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card mb-3">
            <div class="card-header">
                <h4> {% trans %}Daten eines Erziehungsberechtigten{% endtrans %}</h4>
            </div>
            <div class="card-body">
                <ul>
                    {% for error in errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>

                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

                <div class="row">
                    <div class="col-sm-11">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="col-sm-1">
                        <i class="far fa-question-circle" data-toggle="popover" data-placement="top" title="Ausfüllhilfe" data-content="{% trans %}Die E-Mail Adresse ist wichtig, da alle Dokumente, Bestätigungen und Rechnungen automatisch an diese E-Mail geschickt werden.{% endtrans %}"></i>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-11">
                {{ form_label(form.vorname) }}
                {{ form_widget(form.vorname) }}

                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}

                {{ form_label(form.strasse) }}
                {{ form_widget(form.strasse) }}

                {{ form_label(form.adresszusatz) }}
                {{ form_widget(form.adresszusatz) }}

                {{ form_label(form.plz) }}
                {{ form_widget(form.plz) }}

                {{ form_label(form.stadt) }}
                {{ form_widget(form.stadt) }}
                    </div>
                </div>

            </div>
        </div>
        <div class="card mb-3">
            <div class="card-header">
                <h4> {% trans %}Daten für den SEPA Lastschrifteinzug{% endtrans %}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-11">
                        {{ form_label(form.iban) }}
                        {{ form_widget(form.iban) }}

                        {{ form_label(form.bic) }}
                        {{ form_widget(form.bic) }}

                        {{ form_label(form.kontoinhaber) }}
                        {{ form_widget(form.kontoinhaber) }}

                        {{ form_label(form.sepaInfo) }}
                        {{ form_widget(form.sepaInfo) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4> {% trans %}Daten für Notfälle und weitere Informationen{% endtrans %}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-11">
                        {{ form_label(form.notfallName) }}
                        {{ form_widget(form.notfallName) }}

                        {{ form_label(form.notfallkontakt) }}
                        {{ form_widget(form.notfallkontakt) }}

                        {{ form_label(form.abholberechtigter) }}
                        {{ form_widget(form.abholberechtigter) }}

                        {{ form_label(form.gdpr) }}
                        {{ form_widget(form.gdpr) }}

                        {{ form_label(form.newsletter) }}
                        {{ form_widget(form.newsletter) }}

                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}
