{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-12 card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h1>{% trans %}Angemeldete Kinder{% endtrans %}</h1>
                            </div>
                            <div class="col text-right">
                                {% if is_granted('ROLE_ORG_CHILD_CHANGE') %}
                                    <div class="dropdown">
                                        <button href="#" type="button"
                                                class="btn btn-success"
                                                data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Kind anmelden
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            {% for s in schuljahreForNew %}
                                                <a class="dropdown-item" target="_blank"
                                                   href="{{ path('child_add_new',{'schuljahr':s.id}) }}">{{ s.von|date('d.m.Y') }}
                                                    - {{ s.bis|date('d.m.Y') }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <hr class="mb-1">
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-row flex-buttons mb-4 text-right">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    {{ actualSchuljahr.von|date('d.m.Y') }}
                                    - {{ actualSchuljahr.bis|date('d.m.Y') }}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="schuljahrSelector dropdown-item" data-type="schuljahr"
                                       data-value="null" href="#"> {% trans %}Alle Schuljahre{% endtrans %}</a>

                                    {% for s in schuljahre %}
                                        <a class="schuljahrSelector dropdown-item" data-type="schuljahr"
                                           data-value="{{ s.id }}" data-id="#">{{ s.von|date('d.m.Y') }}
                                            - {{ s.bis|date('d.m.Y') }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    {% trans %}Alle Schulen{% endtrans %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="schuljahrSelector dropdown-item" data-type="schule"
                                       data-value="null" href="#"> {% trans %}Alle Schulen{% endtrans %}</a>

                                    {% for s in schulen %}
                                        <a class="schuljahrSelector dropdown-item" data-type="schule"
                                           data-value="{{ s.id }}" data-id="{{ s.id }}"
                                           href="#">{{ s.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    {% trans %}Alle Wochentage{% endtrans %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="schuljahrSelector dropdown-item" data-type="wochentag"
                                       data-value=null href="#"> {% trans %}Alle Wochentage{% endtrans %}</a>
                                    <a class="schuljahrSelector dropdown-item" data-type="wochentag"
                                       data-value="0" href="#">{{ 'Montag'|trans }}</a>
                                    <a class="schuljahrSelector dropdown-item" data-type="wochentag"
                                       data-value="1" href="#">{{ 'Dienstag'|trans }}</a>
                                    <a class="schuljahrSelector dropdown-item" data-type="wochentag"
                                       data-value="2" href="#">{{ 'Mittwoch'|trans }}</a>
                                    <a class="schuljahrSelector dropdown-item" data-type="wochentag"
                                       data-value="3" href="#">{{ 'Donnerstag'|trans }}</a>
                                    <a class="schuljahrSelector dropdown-item" data-type="wochentag"
                                       data-value="4" href="#">{{ 'Freitag'|trans }}</a>
                                    <a class="schuljahrSelector dropdown-item" data-type="wochentag"
                                       data-value="5" href="#">{{ 'Samstag'|trans }}</a>
                                    <a class="schuljahrSelector dropdown-item" data-type="wochentag"
                                       data-value="6" href="#">{{ 'Sonntag'|trans }}</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    {% trans %}Alle Jahrgangsstufen{% endtrans %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="schuljahrSelector dropdown-item" data-type="klasse"
                                       data-value=null
                                       href="#"> {% trans %}Alle Jahrgangsstufen{% endtrans %}</a>
                                    {% for key,k in organisation.stadt.translate.settingsSkibShoolyearNamingArray %}
                                        <a class="schuljahrSelector dropdown-item" data-type="klasse"
                                           data-value="{{ key }}" href="#">{{ k }}</a>
                                    {% endfor %}

                                </div>
                            </div>
                            <button class="print btn btn-primary" type="button">
                                PDF
                            </button>
                            <button class="spreadsheet btn btn-primary" type="button">
                                EXCEL
                            </button>
                        </div>
                        <hr class="mb-4">
                        <div id="childTable">
                            <div class="center">
                                Loading ...
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 card">
                    <div class="card-header">
                        <h2>{{ 'Änderungen zwischen zwei Daten sehen'|trans }}</h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <a class="btn btn-primary" id="daterangesim"
                                   data-startdate="{{ 'now'|date('m/d/Y') }}"
                                   data-enddate="{{ date('now')|date_modify("+1 month")|date('m/d/Y') }}">
                                    <span>{{ 'now'|date('d.m.Y') }} - {{ date('now')|date_modify("+1 month")|date('d.m.Y') }}</span>
                                </a>
                            </div>
                        </div>
                        <hr class="mb-4">
                        <div id="childTableSimulation">
                            <div class="center">
                                Loading ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        var search =
            {
                schule: null,
                wochentag: null,
                schuljahr: {{ actualSchuljahr.id }},
                klasse: null,
                {% if app.request.query.get("block") is defined and app.request.query.get("block") is not null %}
                block: {{ app.request.query.get("block") }},
                {% else %}
                block: null,
                {% endif %}

                organisation: {{ organisation.id }},
            };

        var searchUrl = '{{ path('child_child_Table') }}';


    </script>
{% endblock %}


{% block webpack %}
    {{ encore_entry_script_tags('angemeldeteKinder') }}
{% endblock %}

{% block jquery %}


{% endblock %}
