<div class="card-header">
    <h1>{{ text }}</h1>
</div>
<div class="table-responsive">


    <table class="table table-hover">
        <thead>
        <tr>
            <th></th>
            <th>{% trans %}Vorname{% endtrans %}</th>
            <th>{% trans %}Nachname{% endtrans %}</th>
            <th>{% trans %}Erziehungsberechtigter{% endtrans %}</th>
            <th>{% trans %}Notfallkontakt{% endtrans %}</th>
            <th>{% trans %}Schule{% endtrans %}</th>
            <th>{% trans %}Klasse{% endtrans %}</th>
            <th>{% trans %}Masernimpfung{% endtrans %}</th>
            <th>{% trans %}Angemeldet am:{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for k in kinder %}
            <tr>
                <td>
                    <div class="btn-group">
                        <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex2" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex2">
                            <a class="dropdown-item" href="{{ path('child_detail',{'kind_id':k.id}) }}">Detail</a>
                            <a class="dropdown-item" href="{{ path('child_detail_print',{'kind_id':k.id}) }}">PDF Drucken</a>

                            {% if is_granted('ROLE_ORG_CHILD_CHANGE') %}
                                <a class="dropdown-item"
                                   href="{{ path('child_change_seccode',{'kind_id':k.id}) }}">{% trans %}Bearbeiten{% endtrans %}</a>
                                <a class="dropdown-item"
                                   href="{{ path('child_resend_SecCode',{'kind_id':k.id}) }}">{% trans %}Sicherheitscode erneut senden{% endtrans %}</a>
                            {% endif %}
                            {% if is_granted('ROLE_ORG_CHILD_EMAIL_CHANGE') %}
                                <a class="dropdown-item"
                                   href="{{ path('org_child_email_change',{'kind_id':k.id}) }}">{% trans %}Email Adresse ändern{% endtrans %}</a>
                            {% endif %}
                            {% if is_granted('ROLE_ORG_CHILD_SCHOOLYEAR_CHANGE') %}
                                <a class="dropdown-item"
                                   href="{{ path('org_child_shoolyear_change',{'kind_id':k.id}) }}">{% trans %}Schuljahr ändern{% endtrans %}</a>
                            {% endif %}
                            {% if is_granted('ROLE_ORG_CHILD_DELETE') %}
                                <a class="dropdown-item deleteBtn" type="DELETE"
                                   href="{{ path('delete_child_delete',{'kind_id':k.id}) }}">{% trans %}Löschen{% endtrans %}</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
                <td>{{ k.vorname }}</td>
                <td>{{ k.nachname }}</td>
                <td>{{ k.eltern.vorname }} {{ k.eltern.name }}</td>
                <td>{{ k.eltern.notfallkontakt }}</td>
                <td>{{ k.schule.name }}</td>
                <td>{{ k.klasseString }}</td>
                <td>{{ k.masernImpfung?"Ja"|trans:'Nein'|trans }}</td>
                <td data-order="{{ k.eltern.createdAt|date('U') }}">{{ k.eltern.createdAt|date('d.m.Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $('.table').DataTable().destroy();
    $('.table').DataTable({
            "order": [[6, "asc"]]
        }
    );
</script>
