{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-center text-md-left">
        <h1 class="h1-responsive hauptfarbe">{% trans %}Online Anmeldung{% endtrans %}</h1>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                 aria-valuemax="100">{% trans %}Adresse{% endtrans %}</div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="card mb-3">
                <div class="card-header">
                    <h4> {% trans %}Daten eines Erziehungsberechtigten{% endtrans %}</h4>
                </div>
                <div class="card-body">


                    <div class="row">
                        <div class="col-sm-11">

                            {{ form_row(form.email) }}


                        </div>
                        <div class="col-sm-1">
                            <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                               title="{{ 'Information'|trans }}"
                               data-content="{% trans %}Die E-Mail Adresse ist wichtig, da alle Dokumente, Bestätigungen und Rechnungen automatisch an diese E-Mail geschickt werden.{% endtrans %}"></i>
                        </div>
                    </div>
                    {% if form.emailDoubleInput is defined %}
                        <div class="row">
                            <div class="col-sm-11">

                                {{ form_row(form.emailDoubleInput) }}


                            </div>
                            <div class="col-sm-1">
                                <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                                   title="{{ 'Information'|trans }}"
                                   data-content="{% trans %}Bitte bestätigen Sie die E-Mail Adresse durch erneutes eingeben.{% endtrans %}"></i>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row mt-3">
                        <div class="col-sm-11">

                            {{ form_row(form.phoneNumber) }}


                            {{ form_row(form.vorname) }}

                            {{ form_row(form.name) }}

                            {{ form_row(form.strasse) }}

                            {{ form_row(form.adresszusatz) }}

                            {{ form_row(form.plz) }}


                            {{ form_row(form.stadt) }}

                        </div>
                    </div>
                    {% if  form.einkommen is defined %}
                        <div class="row mt-2">
                            <div class="col-sm-11">

                                {{ form_label(form.einkommen) }}
                                {{ form_widget(form.einkommen) }}

                            </div>
                            <div class="col-sm-1">
                                <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                                   title="{{ 'Information'|trans }}"
                                   data-content="{{ stadt.translate.settingGehaltsklassenHelp }}"></i>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row mt-2">
                        <div class="col-sm-11">
                            {{ form_row(form.beruflicheSituation) }}

                        </div>
                        <div class="col-sm-1">
                            <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                               title="{{ 'Information'|trans }}"
                               data-content="{% trans %}Vorrangig aufgenommen werden Kinder von alleinerziehenden und berufstätigen Erziehungsberechtigten. Ein Rechtsanspruch auf Aufnahme besteht nicht.{% endtrans %}"></i>
                        </div>
                    </div>
                    {% if form.kinderImKiga is defined %}
                        <div class="row mt-2">
                            <div class="col-sm-11">
                                {{ form_row(form.kinderImKiga) }}

                            </div>
                            <div class="col-sm-1">
                                <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                                   title="{{ 'Information'|trans }}"
                                   data-content="{{ stadt.translate.settingKinderimKigaHelp }}"></i>
                            </div>
                        </div>

                        <div class="row mt-2 collapse" id="kigaOfKids">
                            <div class="col-sm-11">
                                {{ form_row(form.kigaOfKids) }}

                            </div>
                            <div class="col-sm-1">
                                <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                                   title="{{ 'Information'|trans }}"
                                   data-content="{% trans %}Geben Sie hier den Namen des kostenpflichtigen Kindergartens an.{% endtrans %}"></i>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row mt-2">
                        <div class="col-sm-11">

                            {{ form_row(form.alleinerziehend) }}

                        </div>
                        <div class="col-sm-1">
                            <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                               title="{{ 'Information'|trans }}"
                               data-content="{% trans %}Vorrangig aufgenommen werden Kinder von alleinerziehenden und berufstätigen Erziehungsberechtigten. Ein Rechtsanspruch auf Aufnahme besteht nicht.{% endtrans %}"></i>

                        </div>
                    </div>
                    {% if  form.anzahlKindergeldempfanger is defined %}
                        <div class="row mt-2">
                            <div class="col-sm-11">
                                {{ form_row(form.anzahlKindergeldempfanger) }}

                            </div>
                            <div class="col-sm-1">
                                <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                                   title="{{ 'Information'|trans }}"
                                   data-content="{{ stadt.translate.settingsAnzahlKindergeldempfangerHelp }}"></i>
                            </div>
                        </div>
                    {% endif %}
                    {% if form.geschwisters is defined %}
                        <div class="row mt-2">
                            <div class="col-sm-11">
                                <div class="geschwisterHolder"
                                     data-index="{{ form.geschwisters|length }}"
                                     data-prototype='
                                <div class="row">
                                <div class="col-lg-12">
                                {{ form_row(form.geschwisters.vars.prototype.vorname)|e('html_attr') }}
                                </div>
                                <div class="col-lg-12">
                                {{ form_row(form.geschwisters.vars.prototype.nachname)|e('html_attr') }}
                                   </div>
                                <div class="col-lg-12">
                                {{ form_row(form.geschwisters.vars.prototype.geburtsdatum)|e('html_attr') }}
                                   </div>
                                </div>
                                '>
                                    {% for gesch in form.geschwisters %}
                                        <div class="card card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    {{ form_row(gesch.vorname) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(gesch.nachname) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(gesch.geburtsdatum) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="button" class="add_item_link btn btn-primary add_item_link"
                                        data-collection-holder-class="geschwisterHolder">{{ 'Ein weiteres Geschwisterkind hinzufügen'|trans }}
                                </button>
                            </div>
                            <div class="col-sm-1">
                                <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                                   title="{{ 'Information'|trans }}"
                                   data-content="{{ stadt.translate.settingsEingabeDerGeschwisterHelp }}"></i>
                            </div>
                        </div>
                    {% endif %}
                    {% if  form.sozialhilfeEmpanger is defined %}
                        <div class="row mt-2">
                            <div class="col-sm-11">
                                {{ form_row(form.sozialhilfeEmpanger) }}

                            </div>
                            <div class="col-sm-1">
                                <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                                   title="{{ 'Information'|trans }}"
                                   data-content="{{ stadt.translate.settingsSozielHilfeEmpfangerHelp }}"></i>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            {% if form.personenberechtigters is defined %}
                <div class="card mb-3">
                    <div class="card-header">
                        <h4 class="card-title">{{ 'Weitere personenberechtigte Personen'|trans }}</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-11">

                                <div class="persHolder"
                                     data-index="{{ form.personenberechtigters|length }}"
                                     data-prototype='
                                <div class="row">
                                <div class="col-lg-12">
                                {{ form_row(form.personenberechtigters.vars.prototype.email)|e('html_attr') }}
                                </div>
                                <div class="col-lg-12">
                                {{ form_row(form.personenberechtigters.vars.prototype.phone)|e('html_attr') }}
                                   </div>
                                <div class="col-lg-12">
                                {{ form_row(form.personenberechtigters.vars.prototype.vorname)|e('html_attr') }}
                                   </div>
                                <div class="col-lg-12">
                                {{ form_row(form.personenberechtigters.vars.prototype.nachname)|e('html_attr') }}
                                   </div>
                                <div class="col-lg-12">
                                {{ form_row(form.personenberechtigters.vars.prototype.strasse)|e('html_attr') }}
                                   </div>
                                <div class="col-lg-12">
                                {{ form_row(form.personenberechtigters.vars.prototype.adresszusatz)|e('html_attr') }}
                                   </div>
                                <div class="col-lg-12">
                                {{ form_row(form.personenberechtigters.vars.prototype.plz)|e('html_attr') }}
                                   </div>
                                <div class="col-lg-12">
                                {{ form_row(form.personenberechtigters.vars.prototype.stadt)|e('html_attr') }}
                                   </div>
                                <div class="col-lg-12">
                                {{ form_row(form.personenberechtigters.vars.prototype.notfallkontakt)|e('html_attr') }}
                                </div>
                                </div>
                                '>
                                    {% for pers in form.personenberechtigters %}
                                        <div class="card card-body mb-3">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    {{ form_row(pers.email) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(pers.phone) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(pers.vorname) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(pers.nachname) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(pers.strasse) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(pers.adresszusatz) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(pers.plz) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(pers.stadt) }}
                                                </div>
                                                <div class="col-lg-12">
                                                    {{ form_row(pers.notfallkontakt) }}
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                </div>
                                <button type="button" class="add_item_link btn btn-primary add_item_link"
                                        data-collection-holder-class="persHolder">{{ 'Eine weitere personenberechtigte Person hinzufügen'|trans }}
                                </button>
                            </div>
                            <div class="col-sm-1">
                                <i class="far fa-question-circle" data-toggle="popover" data-placement="top"
                                   title="{{ 'Information'|trans }}"
                                   data-content="{{ stadt.translate.settingsweiterePersonenberechtigteHelp }}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="card">
                <div class="card-header">
                    <h4> {% trans %}Weitere Informationen und Kontaktdaten{% endtrans %}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="md-form">
                                {{ form_row(form.notfallName) }}

                            </div>
                            <div class="md-form">
                                {{ form_row(form.notfallkontakt) }}

                            </div>
                            <div class="md-form">
                                {{ form_row(form.abholberechtigter) }}

                            </div>


                            {{ form_row(form.gdpr) }}

                            <p>
                                {% trans %}Weitere Hinweise zum Datenschutz finden Sie in dem{% endtrans %} <a
                                        href={{ path('workflow_datenschutz',{'slug':stadt.slug,'org_id':'city'}) }} target="_blank"
                                        rel="noopener noreferrer">{{ 'Datenschutzhinweis'|trans }}</a>
                            </p>


                        </div>
                        <div class="col-lg-12">
                            {{ form_rest(form) }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>



{% endblock %}
