<div class="modal-dialog" role="document">
    <div class="modal-content">
<div class="modal-header">
    <h5 class="modal-title">{% trans %}Daten der Kinder eingeben{% endtrans %}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {{ form_start(form, {
        'attr': {
            'novalidate': 'novalidate',
            'class':'ajaxForm'

        }
    }) }}
    {{ form_errors(form) }}

    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary ">{% trans %}Weiter{% endtrans %}</button>
    {{ form_end(form) }}
</div>
<script>
  $('.ajaxForm').submit(function(e) {
      e.preventDefault();
      var $form = $(e.currentTarget);
      $.ajax({
          url: $form.attr('action'),
          method: 'POST',
          data: $form.serialize(),
          success:function (data) {
              $.snackbar({content: data.snack});
              if (data.error == 0) {
                  if (typeof data.next != "undefined"){
                      $('#loadContentModal').load(data.next);
                      $('#schulenShow') .load('{{ path('loerrach_workflow_schulen') }} #schulenShow');
                  }else {
                      $('#loadContentModal').modal ('hide');
                  }
              }
          }
      });
  })  
</script>

</div>
</div>