{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-center text-md-left">
        <h1 class="h1-responsive hauptfarbe">{% trans %}Online Anmeldung{% endtrans %}</h1>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">{% trans %}Mittagessen{% endtrans %}</div>
        </div>
    </div>

{% endblock %}
{% block content %}

    <div class="card">
        <div class="card-header">
            <h4> {% trans %}Mittagessen{% endtrans %}</h4>
        </div>
        <div class="card-body">
            <h4>
                {% trans %}Weitere Informationen zum Mittagessen an den Schulen{% endtrans %}
            </h4>

            <p>
                {{ stadt.translate.catererInfo|markdown_to_html }}
            </p>

            <div class="row row-eq-height card-body">
                {% for s in schule %}
                    {% if s.schule.catererName is not null %}
                    <div class="card card-body col-md-4 col-lg-3 mr-1">
                        <h5>{{ s.schule.name }}</h5>
                        <b>{% trans %}Caterer{% endtrans %}: <br>{{ s.schule.catererName }}</b><br/>
                        {% trans %}Homepage{% endtrans %}: <a href="{{ s.schule.catererUrl }}" target="_blank">{{ s.schule.catererUrl }}</a><br/>
                        {% trans %}E-Mail{% endtrans %}: <a href="mailto:{{ s.schule.catererEmail }}" target="_blank">{{ s.schule.catererEmail }}</a><br/>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
                <div class="text-center">
                    <a href="{{ path('loerrach_workflow_schulen',{'slug':stadt.slug}) }}"
                       class="btn btn-outline-secondary">{% trans %}Zurück{% endtrans %}</a>
                    <a href="{{ path('loerrach_workflow_bezahlen',{'slug':stadt.slug}) }}"
                       class="btn btn-outline-primary">{% trans %}Weiter{% endtrans %}</a>
                </div>

        </div>
    </div>
{% endblock %}
