{% extends 'workflow/base.html.twig' %}
{% block content %}

    <h2 class="cover-heading, text-center">{% trans %}Schulen auswählen und Kinder hinzufügen{% endtrans %}</h2>
    <section class="dashboard-counts section-padding" id="schulenShow">
        <div class="container-fluid ">

            <div class="card-deck">
                <!-- Count item widget-->
                {% for s in schule %}

                    <div class="card mb-4 " >

                            <img class="card-img-top" src="{{ vich_uploader_asset(s,'imageFile') }}" alt="{{ s.name }}"style="max-height: 300px">



                        <div class="card-body ">
                            <h5 class="card-title">{{ s.name }}</h5>
                            <p class="card-text">{{ s.infoText }}</p>

                            <a href="{{ path('loerrach_workflow_schulen_kind_neu', {'schule_id':s.id}) }}" class="loadContent btn btn-outline-primary">{% trans %}Kind hinzufügen  {% endtrans %}</a>

                        </div>
                        {%  if kinder[s.id] is defined and kinder[s.id] is not null %}
                        {% for k in kinder[s.id] %}
                            <div class="card-body">
                                {{ k.vorname }} {{ k.nachname }}
                                <b><span class="price">{% if k.Betreungsblocks>=2 %}{{ k.PreisforBetreuung|number_format(2,',','.') }}€{% endif %}</span></b>
                                <div class="btn-group">
                                    <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                    </button>
                                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex2">
                                        <a href="{{ path('loerrach_workflow_schulen_kind_edit', {'kind_id':k.id}) }}" class=" loadContent dropdown-item">{% trans %}Bearbeiten{% endtrans %}</a>
                                        <a href="{{ path('loerrach_workflow_schulen_kind_zeitblock', {'kind_id':k.id}) }}" class=" loadContent dropdown-item">{% trans %}Betreuungsblöcke bearbeiten{% endtrans %}</a>
                                        <a href="{{ path('loerrach_workflow_kind_delete', {'kind_id':k.id}) }}" class="dropdown-item">{% trans %}Löschen{% endtrans %}</a>

                                    </div>
                                </div>
                              </div>

                                    {% endfor %}
                                {% endif %}

                        </div>

                {% endfor %}
                </div>



            </div>
    </section>
    <div class="text-center">
        <a href="{{ path('loerrach_workflow_adresse') }}" class="btn btn-outline-secondary">{% trans %}Zurück{% endtrans %}</a>
        <a href="{{ path('loerrach_workflow_zusammenfassung') }}" class="btn btn-outline-primary">{% trans %}Weiter{% endtrans %}</a>
    </div>
{% endblock %}
{% block jquery %}
    <script>
        $(document).on('click','.chooseBlock',function (e) {

            var ele = $(this);
            var url = ele.attr('href');
            ele.find('.loader').removeClass('d-none');
            $.ajax({
                url: url,
                method: 'GET',
                success: function (data) {
                    var options = {
                        content: data.text, // text of the snackbar
                        timeout: 10000, // time in milliseconds after the snackbar autohides, 0 is disabled
                    };
                    if (data.error == 0 || data.error == 2) {
                        ele.toggleClass('bg-success');
                        if (ele.hasClass('bg-success')) {
                            ele.find('.gebucht-text').text('{% trans %}Gebucht{% endtrans %}');
                        } else {
                            ele.find('.gebucht-text').text('');
                        }
                    } else {


                    }
                    ele.closest('.modal-body').find('.price').text(data.text);
                    if (data.error == 0) {
                        $.ajax({
                            url: data.preisUrl,
                            method: 'GET',
                            success: function (data) {
                                ele.closest('.modal-body').find('.price').text(data.betrag+'€')
                            }

                        });
                    }
                       // $.snackbar(options);
                    ele.find('.loader').addClass('d-none');


                }
            })
        })

        $("#loadContentModal").on('hide.bs.modal', function(){
        $('#schulenShow') .load('{{ path('loerrach_workflow_schulen') }} #schulenShow');
        });
    </script>

{% endblock %}
