{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-center text-md-left">
        <h1 class="h1-responsive hauptfarbe">{% trans %}Online Anmeldung{% endtrans %}</h1>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                 aria-valuemax="100">{% trans %}Schulen und Kinder{% endtrans %}</div>
        </div>
    </div>

{% endblock %}
{% block content %}

    <div class="card">
        <div class="card-header">
            <h4> {% trans %}Daten des Kindes/Kinder{% endtrans %}</h4>
        </div>
        <div class="card-body">


            <section class="dashboard-counts section-padding" id="schulenShow">
                <div id="schulenShowContent">
                    <div class="container-fluid ">
                        <div class="row">
                            <!-- Count item widget-->
                            {% for s in schule %}
                                <div class="col-md-6 col-lg-4 mb-4 schulCard" id="schule{{ s.id }}">
                                    <div id="schule{{ s.id }}Content" class="h-100">
                                        <div class="cardhoverable  card h-100 ">
                                            <div class=" overlay skib-card-image">
                                                <img class="card-img-top"
                                                        {% if s.image %}
                                                            src="{{ vich_uploader_asset(s,'imageFile')| imagine_filter('my_thumb') }}"
                                                            alt="{{ s.name }}" style="max-height: 300px"
                                                        {% else %}
                                                            src="{{ asset('images/logo-breit-mittig.png')| imagine_filter('my_thumb') }}"
                                                        {% endif %}
                                                />
                                                <noscript><img class="card-img-top lazy"
                                                            {% if s.image %}
                                                                src="{{ vich_uploader_asset(s,'imageFile')| imagine_filter('my_thumb') }}"
                                                                alt="{{ s.name }}" style="max-height: 300px"
                                                            {% else %}
                                                                src="{{ asset('images/logo-breit-mittig.png')| imagine_filter('my_thumb') }}"
                                                            {% endif %}
                                                    />
                                                </noscript>
                                            </div>

                                            <div class="card-body ">
                                                <h5 class="card-title">{{ s.name }}</h5>
                                                <p class="card-text">{{ s.infoText }}</p>

                                                <a href="{{ path('loerrach_workflow_schulen_kind_neu', {'schule_id':s.id,'slug':stadt.slug}) }}"
                                                   class="waves-effect loadContent btn btn-outline-primary">{% trans %}Kind anmelden{% endtrans %}</a>

                                                <br>
                                                {% if kinder[s.id] is defined and kinder[s.id] is not null %}
                                                    {% for k in kinder[s.id] %}

                                                        <div class="btn-group">
                                                            <button class="btn bmd-btn-icon dropdown-toggle waves-effect px-3"
                                                                    type="button"
                                                                    id="ex2"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false">

                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-left"
                                                                 aria-labelledby="ex2">
                                                                <a href="{{ path('loerrach_workflow_schulen_kind_edit', {'kind_id':k.id,'slug':stadt.slug}) }}"
                                                                   class=" loadContent dropdown-item">{% trans %}Kinderdaten bearbeiten{% endtrans %}</a>
                                                                <a href="{{ path('loerrach_workflow_schulen_kind_zeitblock', {'kind_id':k.id,'slug':stadt.slug}) }}"
                                                                   class=" loadContent dropdown-item">{% trans %}Betreuungszeitfenster bearbeiten{% endtrans %}</a>
                                                                <a type="DELETE"
                                                                   href="{{ path('loerrach_workflow_kind_delete', {'kind_id':k.id,'slug':stadt.slug}) }}"
                                                                   class="dropdown-item deleteBtn">{% trans %}Kind entfernen{% endtrans %}</a>

                                                            </div>
                                                        </div>
                                                        {{ k.vorname }} {{ k.nachname }}
                                                        <b><span class="price">{% if k.tageWithBlocks>=2 %}{{ k.PreisforBetreuung|number_format(2,',','.') }}€{% endif %}</span></b>

                                                        <br>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </section>


        </div>
    </div>

    <div class="text-center stickyBottom">
        <hr class="hr-bold">
        <a href="{{ path('loerrach_workflow_adresse',{'slug':stadt.slug}) }}"
           class="btn btn-outline-secondary">{% trans %}Zurück{% endtrans %}</a>
        <a href="{{ path('loerrach_workflow_mittagessen', {'slug':stadt.slug}) }}"
           class="btn btn-outline-primary">{% trans %}Weiter{% endtrans %}</a>
    </div>
{% endblock %}
{% block webpack %}
    {{ encore_entry_script_tags('schulen') }}
{% endblock %}
{% block jquery %}
    <script>
        urlShool = '{{ path('loerrach_workflow_schulen',{'slug':stadt.slug}) }} #schulenShowContent';
    </script>

{% endblock %}
