{% extends 'workflow/base.html.twig' %}
{% block content %}
        <h2 class="cover-heading">{% trans %}Zusammenfassung{% endtrans %}</h2>

    <h3 class="cover-heading">{% trans %}Daten der Eltern{% endtrans %} <a href="{{ path('loerrach_workflow_adresse') }}"> <i class="material-icons">edit</i></a></h3>

    <div class="table-responsive ">
        <table class="table table-hover">
            <tbody>
            <tr>
                <td>{% trans %} Name der Eltern {% endtrans %}</td>
                <td>{{ eltern.name }}</td>
            </tr>
            <tr>
                <td>{% trans %} Adresse der Eltern {% endtrans %}</td>
                <td>{{ eltern.strasse }}<br>{{ eltern.plz }} {{ eltern.stadt }}</td>
            </tr>
            <tr>
                <td>{% trans %} Netto Familieneinkommen pro Monat {% endtrans %}</td>
                <td>{{ eltern.einkommen }}</td>
            </tr>
            </tbody>
        </table>


        <!-- Daten der Kinder in einer for Schleife -->
        <h3 class="cover-heading">{% trans %}Daten von Kinder{% endtrans %} <a href="{{ path('loerrach_workflow_schulen') }}"> <i class="material-icons">edit</i></a></h3>

        {% for k in kind %}
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td>{% trans %} Vorname {% endtrans %}</td>
                    <td>{{ k.vorname }}</td>
                </tr>
                <tr>
                    <td>{% trans %} Nachname {% endtrans %}</td>
                    <td>{{ k.nachname }}</td>
                </tr>
                <tr>
                    <td>{% trans %} Geburtstag {% endtrans %}</td>
                    <td>{{ k.geburtstag|date('d.m.Y') }}</td>
                </tr>
                <tr>
                    <td>{% trans %} Gebuchte Blöcke {% endtrans %}</td>

                    <td>
                        {%  for z in k.zeitblocks %}
                            {{ z.WochentagString }} {{ z.von|date('H:i') }} - {{ z.bis|date('H:i') }}<br/>
                        {% endfor %}
                    </td>
                </tr>
            </tbody>
        </table>
        {% endfor %}
    </div>
    <!-- nicht schön aber funktional abschließen-->
    <a href="{{ path('loerrach_workflow_abschluss') }}" class="btn btn-outline-primary">{% trans %}Absenden{% endtrans %}</a>
{% endblock %}