{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-center text-md-left">
        <h1 class="h1-responsive hauptfarbe">{% trans %}Online Anmeldung{% endtrans %}</h1>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                 aria-valuemax="100">{% trans %}Zusammenfassung{% endtrans %}</div>
        </div>
    </div>
{% endblock %}

{% block content %}

        <h2 class="cover-heading">{% trans %}Zusammenfassung{% endtrans %}</h2>

    {% trans %}
        Bitte überprüfen Sie die untenstehenden Details und senden Sie Ihren Betreuungsvertrag kostenpflichtig ab.
    {% endtrans %}

    <div class="card mb-3 mt-3">

        <div class="card-header">
            <h3 class="cover-heading">{% trans %}Daten des Erziehungsberechtigten{% endtrans %} <a
                        href="{{ path('loerrach_workflow_adresse',{'slug':stadt.slug}) }}"> <i
                            class="fa fa-edit"></i> {% trans %}Bearbeiten{% endtrans %}</a></h3>
        </div>
        <div class="card-body">
            <table class="table table-responsive">
                <tbody>
                <td style="width: 50%">{% trans %}Name des Erziehungsberechtigten{% endtrans %}</td>
                <td>{{ eltern.vorname }} {{ eltern.name }}</td>
                </tr>
                <tr>
                    <td>{% trans %}E-Mail{% endtrans %}</td>
                    <td>{{ eltern.email }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Adresse des Erziehungsberechtigten{% endtrans %}</td>
                    <td>{{ eltern.strasse }}<br>{{ eltern.plz }} {{ eltern.stadt }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Brutto Haushaltseinkommen pro Monat{% endtrans %}</td>
                    <td>{{ stadt.gehaltsklassen[eltern.einkommen] }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Ich habe mindestens ein weiteres Kind in einer kostenpflichtigen öffentlichen Kindergarteneinrichtung{% endtrans %}</td>
                    <td>{{ eltern.kinderImKiga?"Ja"|trans:'Nein'|trans }}</td>
                </tr>

                <tr>
                    <td>{% trans %}Ich bin alleinerziehend{% endtrans %}</td>
                    <td>{{ eltern.alleinerziehend?"Ja"|trans:'Nein'|trans }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Berufliche Situation des Erziehungsberechtigten{% endtrans %}</td>
                    <td>{{ beruflicheSituation[eltern.beruflicheSituation] }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Kontakt für evtl. Notfälle{% endtrans %}</td>
                    <td>{{ eltern.notfallName }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Telefonnummer für evtl. Notfälle{% endtrans %}</td>
                    <td>{{ eltern.notfallkontakt }}</td>
                </tr>
                <tr>
                    <td>{% trans %}Weitere abholberechtigte Personen{% endtrans %}</td>
                    <td>{{ eltern.abholberechtigter }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Daten der Kinder in einer for Schleife -->
    <div class="card mb-2">
        <div class="card-header mb-2">
            <h3 class="cover-heading">{% trans %}Daten der Kinder{% endtrans %} <a
                        href="{{ path('loerrach_workflow_schulen',{'slug':stadt.slug}) }}"> <i
                            class="fa fa-edit"></i> {% trans %}Bearbeiten{% endtrans %}</a></h3>
        </div>
        <div class="text-left card-body" id="accordion">
            {% for k in kind %}
                <div class="card mb-2">
                    <div class="card-header" id="heading{{ loop.index }}">
                        <h5 class="mb-0">
                            <a data-toggle="collapse" data-target="#collapse{{ loop.index }}" aria-expanded="false"
                               aria-controls="collapse{{ loop.index }}">
                                {{ k.vorname }} {{ k.nachname }} <small><i class="fa fa-info-circle"
                                                                           style="color: var(--main-color)"></i><br/>{% if k.tageWithBlocks < 2 %}
                                    <div class="alert alert-danger" role="alert">
                                        {% trans %}Bitte weiteres Betreuungszeitfenster auswählen{% endtrans %} </div>
                                {% else %}{% trans %}Gebühr pro Monat für gebuchte Betreuung{% endtrans %}: {{ k.preisforBetreuung|number_format(2,',','.') }} €{% endif %}
                                    <a href="{{ path('loerrach_workflow_print_pdf',{'slug':stadt.slug,'id':k.id}) }}"><i
                                                class="fa fa-download"></i></a>
                                </small>

                            </a>
                        </h5>
                        <a target="_blank"
                           href={{ path('workflow_datenschutz', {'org_id':k.schule.organisation.id, 'slug':stadt.slug}) }}>{% trans %}Datenschutzhinweis{% endtrans %} {{ k.schule.organisation.name }}</a>
                    </div>

                    <div id="collapse{{ loop.index }}" class="collapse" aria-labelledby="heading{{ loop.index }}"
                         data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-responsive">
                                <tbody>
                                <tr>
                                    <td style="width: 50%">{% trans %}Vorname{% endtrans %}</td>
                                    <td>{{ k.vorname }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Nachname{% endtrans %}</td>
                                    <td>{{ k.nachname }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Geburtstag{% endtrans %}</td>
                                    <td>{{ k.geburtstag|date('d.m.Y') }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Schule{% endtrans %}</td>
                                    <td>{{ k.schule.name }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Klasse{% endtrans %}</td>
                                    <td>{{ k.klasse }}. {{ 'Klasse'|trans }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Allergien{% endtrans %}</td>
                                    <td>{{ k.allergie }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Medikamente{% endtrans %}</td>
                                    <td>{{ k.medikamente }}</td>
                                </tr>

                                <tr>
                                    <td>{% trans %}Mein Kind ist glutenintolerant{% endtrans %}</td>
                                    <td>{{ k.gluten?"Ja"|trans:'Nein'|trans }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Mein Kind ist laktoseintolerant{% endtrans %}</td>
                                    <td>{{ k.laktose?"Ja"|trans:'Nein'|trans }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Mein Kind isst kein Schweinefleisch{% endtrans %}</td>
                                    <td>{{ k.schweinefleisch?"Ja"|trans:'Nein'|trans }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Vegetarisch{% endtrans %}</td>
                                    <td>{{ k.vegetarisch?"Ja"|trans:'Nein'|trans }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Mein Kind darf nach Ende der gebuchten Betreuung alleine nach Hause{% endtrans %}</td>
                                    <td>{{ k.alleineHause?"Ja"|trans:'Nein'|trans }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Mein Kind darf an Ausflügen teilnehmen{% endtrans %}</td>
                                    <td>{{ k.ausfluege?"Ja"|trans:'Nein'|trans }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Mein Kind darf im Sommer mit handelsüblicher Sonnencreme eingecremt werden{% endtrans %}</td>
                                    <td>{{ k.sonnencreme?"Ja"|trans:'Nein'|trans }}</td>
                                </tr>
                                <tr>
                                    <td>{% trans %}Fotos, auf welchen mein Kind zu sehen ist, dürfen sowohl in der öffentlichen Presse veröffentlicht, als auch für die Öffentlichkeitsarbeit der betreuenden Organisationen genutzt werden.{% endtrans %}</td>
                                    <td>{{ k.fotos?"Ja"|trans:'Nein'|trans }}</td>
                                </tr>

                                <tr>
                                    <td>{% trans %}Betreuende Organisation{% endtrans %}</td>
                                    <td>{{ k.schule.organisation.name }}</td>
                                </tr>
                                {% if k.betreungsblocksReal|length > 0 %}
                                    <tr>
                                        <td>{% trans %}Bemerkung{% endtrans %}</td>
                                        <td>{{ k.bemerkung }}</td>
                                    </tr>

                                    <tr>
                                        <td>
                                            {% trans %}Gebuchte Betreuungszeitfenster{% endtrans %}
                                        </td>

                                        <td>
                                            <ul class="list-group">
                                                {% for z in k.BetreungsblocksReal %}
                                                    <li class="list-group-item">{{ z.WochentagString }} {{ z.von|date('H:i') }}
                                                        - {{ z.bis|date('H:i') }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if k.betreungsblocksRealKontingent|length > 0 %}
                                    <tr>
                                        <td>
                                            {% trans %}Angemeldete Betreuungszeitfenster{% endtrans %}
                                        </td>

                                        <td>
                                            <ul class="list-group">
                                                {% for z in k.betreungsblocksRealKontingent %}
                                                    <li class="list-group-item">{{ z.WochentagString }} {{ z.von|date('H:i') }}
                                                        - {{ z.bis|date('H:i') }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if k.mittagessenblocksReal|length > 0 %}
                                    <tr>
                                        <td>
                                            {% trans %}Gebuchte Mittagessen{% endtrans %}
                                        </td>

                                        <td>
                                            <ul class="list-group">
                                                {% for z in k.MittagessenblocksReal %}
                                                    <li class="list-group-item">{{ z.WochentagString }}</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td>
                                        <h5>
                                            {% trans %}Gebühren pro Monat{% endtrans %}
                                        </h5>
                                    </td>
                                    <td>
                                        <h5>
                                            {% if k.tageWithBlocks < 2 %} {% trans %}Bitte weitere Betreuungszeitfenster auswählen{% endtrans %} {% else %}{{ k.preisforBetreuung|number_format(2,',','.') }} €{% endif %}
                                        </h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="card">
        <div class="card-header mb-2">
            <h3 class="cover-heading">{% trans %}Bankverbindung für Lastschrift{% endtrans %} <a
                        href="{{ path('loerrach_workflow_bezahlen', {'slug':stadt.slug}) }}"> <i
                            class="fa fa-edit"></i> {% trans %}Bearbeiten{% endtrans %}</a></h3>
        </div>
        <div class="text-left card-body">

            {% trans %}Kontoinhaber{% endtrans %}: {{ eltern.kontoinhaber }}<br/>
            {% trans %}IBAN{% endtrans %}: {{ eltern.iban }}<br/>
            {% trans %}BIC{% endtrans %}: {{ eltern.bic }}<br/>
            {{ eltern.sepaInfo?"Ich erteile der betreuenden Organisation (den betreuenden Organisationen) ein SEPA Lastschrift Mandant für die Dauer des Betreuungsvertrags"|trans:""|trans }} </br>
            {% trans %}Hinweis: Ich kann innerhalb von acht Wochen, beginnend mit dem Belastungsdatum, die Erstattung des belasteten Betrages verlangen. Es gelten dabei die mit meinem Kreditinstitut vereinbarten Bedingungen.{% endtrans %}

        </div>
    </div>

    <div class="m-4">
        <h5>{% trans %}Gebühren für alle Kinder pro Monat{% endtrans %}:
            {% if error == false %}
                {{ preis|number_format(2,',','.') }} €
            {% else %}
                {% trans %}Bitte weiteres Betreuungszeitfenster auswählen{% endtrans %}
            {% endif %}
        </h5>
    </div>

    <input id="checkboxDatenschutz" type="checkbox" class="checkboxSelect" name="Datenschutz"
           value="Datenschutzhinweis"> {% trans %}Ich habe alle Datenschutzhinweise der betreuenden Organisationen gelesen und akzeptiere die Verarbeitung.{% endtrans %}
    <br>
    <input id="checkboxStorno" type="checkbox" class="checkboxSelect" name="Datenschutz"
           value="Datenschutzhinweis"> {% trans %}Ich habe verstanden, dass meine Anmeldung von den betreuenden Organisationen widerrufen werden kann, wenn die Betreuungskapazitäten überschritten sind. Ein Recht auf Aufnahme zur Betreuung besteht nicht.{% endtrans %}
    <br>
    <div>
        <input id="checkboxAgb" type="checkbox" class="checkboxSelect" name="AGB" value="AGB"> <a target="_blank"
                                                                                                  href={{ path('workflow_agb', {'slug':stadt.slug}) }}> {% trans with {'%stadt%':stadt.name} %}Ich habe die allgemeinen Vertragsbedingungen der %stadt% zur Schulkindbetreuung gelesen und akzeptiere diese.{% endtrans %}</a><br>
    </div>
    {% if error == false %}
        <button class="btn btn-outline-primary sendButton"
                disabled>{% trans %}Zahlungspflichtigen Vertrag abschließen{% endtrans %}</button>
    {% else %}
        <a href="{{ path('loerrach_workflow_schulen',{'slug':stadt.slug}) }}"
           class="btn btn-outline-primary">{% trans %}Weitere Betreuungszeitfenster hinzufügen{% endtrans %}</a>
    {% endif %}

{% endblock %}
{% block jquery %}
    <script>
        var url = "{{ path('loerrach_workflow_abschluss',{'slug':stadt.slug}) }}";
        $('.checkboxSelect').on('change', function () {
            var cbS = $('.checkboxSelect');
            var all = true;
            cbS.each(function (index) {
                if (!this.checked) {
                    all = false;
                }
            });
            if (all == true) {
                $('.sendButton').wrap('<a href="{{ path('loerrach_workflow_abschluss',{'slug':stadt.slug}) }}">');
                $('.sendButton').prop('disabled', false);

            } else {
                if ($('.sendButton').parent().is("a")) {
                    $('.sendButton').unwrap();
                }
                $('.sendButton').prop('disabled', true);
            }
        });
    </script>

{% endblock %}
