{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <!-- Count item widget-->
                <div class=" col-12 card" style="border-radius: 10px;">
                    <div class="card-header">
                        <h1> Details: {{ stammdaten.vorname }} {{ stammdaten.name }} </h1>
                    </div>

                    <div class="card-body">
                        <a href="{{ path('ferien_management_orders_storno', {'org_id': org.id, 'parent_id': stammdaten.uid}) }}"
                           target="_blank" class="btn btn-primary">{% trans %}Stornieren{% endtrans %}</a>
                        <a href="mailto: {{ stammdaten.email }}" target="_blank"
                           class="btn btn-primary">{% trans %}Email an Eltern senden{% endtrans %}</a>

                        <div class="card-body">
                            <h3 class="card-title">{% trans %}Details der Eltern{% endtrans %}</h3>


                            <div class="row">
                                <div class="col-lg-6">
                                    <dl class="dl-horizontal">
                                        <dt>{% trans %}Name der Eltern{% endtrans %}</dt>
                                        <dd>{{ stammdaten.vorname }} {{ stammdaten.name }}</dd>
                                        <dt>{% trans %} Adresse der Eltern {% endtrans %}</dt>
                                        <dd>{{ stammdaten.strasse }}<br>{{ stammdaten.plz }} {{ stammdaten.stadt }}</dd>

                                        <dt>Anmeldedatum</dt>
                                        <dd>{{ stammdaten.createdAt|date ('d.m.Y') }}</dd>
                                    </dl>
                                </div>
                                <div class="col-lg-6">

                                    <dl>
                                        <dt>{% trans %} Name und Beziehung des Notfallkontakt {% endtrans %}</dt>
                                        <dd>{{ stammdaten.notfallName }}</dd>
                                        <dt>{% trans %} Notfallkontakt der Eltern {% endtrans %}</dt>
                                        <dd>{{ stammdaten.notfallkontakt }}</dd>
                                        <dt>{% trans %} Weitere abholberechtigte Personen {% endtrans %}</dt>
                                        <dd>{{ stammdaten.abholberechtigter }}</dd>

                                        <dt>Email</dt>
                                        <dd>
                                            {{ stammdaten.email }}
                                        </dd>

                                    </dl>
                                </div>
                                {% if stammdaten.paymentFerien is empty %}
                                    <dl class="dl-horizontal col-lg-12">
                                        <dt>Bezahlung</dt>
                                        <dd>
                                            <p class="alert alert-warning">{% trans %}Betrag ist noch offen{% endtrans %}</p>
                                        </dd>
                                    </dl>
                                {% endif %}
                            </div>

                            <h3 class="card-title">{% trans %}Anmeldungen{% endtrans %}</h3>

                            <div id="accordion">
                                {% for k in stammdaten.kinds %}
                                    <div class="card">
                                        <div class="card-header" id="heading{{ loop.index }}">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-toggle="collapse"
                                                        aria-expanded="false"
                                                        data-target="#collapse{{ loop.index }}"
                                                        aria-controls="collapse{{ loop.index }}">
                                                    #{{ loop.index }} {{ k.vorname }} {{ k.nachname }}
                                                </button>
                                            </h5>
                                        </div>

                                        <div id="collapse{{ loop.index }}" class="collapse"
                                             aria-labelledby="heading{{ loop.index }}" data-parent="#accordion">
                                            <div class="card-body">

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <dl class="dl-horizontal">
                                                            <dt>{% trans %}Name des Kindes{% endtrans %}</dt>
                                                            <dd>{{ k.vorname }} {{ k.nachname }}</dd>
                                                            <dt>{% trans %} Geburtstag {% endtrans %}</dt>
                                                            <dd>{{ k.geburtstag|date('d.m.Y') }}</dd>
                                                            <dt>{% trans %} Allergien {% endtrans %}</dt>
                                                            <dd>{{ k.allergie }}</dd>
                                                            <dt>{% trans %} Medikamente {% endtrans %}</dt>
                                                            <dd>{{ k.medikamente }}</dd>
                                                            <dt>{% trans %} Mein Kind ist Gluten intolerant {% endtrans %}</dt>
                                                            <dd>{{ k.gluten?"Ja":'Nein'|trans }}</dd>
                                                            <dt>{% trans %} Mein Kind ist Laktose intolerant {% endtrans %}</dt>
                                                            <dd>{{ k.laktose?"Ja":'Nein'|trans }}</dd>
                                                        </dl>
                                                    </div>
                                                    <div class="col-lg-6">

                                                        <dl>
                                                            <dt>{% trans %} Mein Kind isst kein Schweinefleisch {% endtrans %}</dt>
                                                            <dd>{{ k.schweinefleisch?"Ja":'Nein'|trans }}</dd>
                                                            <dt>{% trans %} Vegetrarisch {% endtrans %}</dt>
                                                            <dd>{{ k.vegetarisch?"Ja":'Nein'|trans }}</dd>
                                                            <dt>{% trans %} Mein Kind darf nach Ende der gebuchten Betreuung alleine nach Hause {% endtrans %}</dt>
                                                            <dd>{{ k.alleineHause?"Ja":'Nein'|trans }}</dd>
                                                            <dt>{% trans %} Mein Kind darf an Ausflügen teilnehmen {% endtrans %}</dt>
                                                            <dd>{{ k.ausfluege?"Ja":'Nein'|trans }}</dd>
                                                            <dt>{% trans %} Mein Kind darf im Sommer mit handelsüblicher Sonnencreme eingecremt werden {% endtrans %}</dt>
                                                            <dd>{{ k.sonnencreme?"Ja":'Nein'|trans }}</dd>
                                                            <dt>{% trans %} Fotos, auf welchen mein Kind zu sehen ist, dürfen sowohl in der öffentlichen Presse veröffentlicht werden {% endtrans %}</dt>
                                                            <dd>{{ k.fotos?"Ja":'Nein'|trans }}</dd>
                                                        </dl>
                                                    </div>
                                                </div>

                                                {% for f in k.kindFerienblocks %}
                                                    <div class="row mt-3">
                                                        <div class="col-md-8">
                                                            <b>
                                                                #{{ loop.index }} {{ f.ferienblock.translate.titel }}
                                                            </b>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <a href="{{ path('ferien_ticket', {'org_id':org.id, 'kind_id':k.id, 'ferien_id':f.id}) }}">
                                                                Ticket exportieren
                                                            </a>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <b>
                                                                {{ f.preis|number_format ('2',',','.') }} €
                                                            </b>
                                                        </div>
                                                        <div class="col-md-3">
                                                            Checkin ID
                                                        </div>
                                                        <div class="col-md-9">
                                                            {{ f.checkinID }}
                                                        </div>
                                                        <div class="col-md-3">
                                                            Checkins
                                                        </div>
                                                        <div class="col-md-9">
                                                            {% for c in f.checkinStatus %}
                                                                {{ c }}<br/>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                            <h3 class="card-title">{% trans %}Ticket ausdrucken{% endtrans %}</h3>

                            {% if stammdaten.paymentFerien is empty %}
                                <p class="alert alert-warning">{% trans %}Betrag ist noch offen{% endtrans %}</p>
                            {% else %}
                                {% set payment = stammdaten.paymentFerienforOrg(org) %}
                                {% if payment.sepa is not null %}
                                    <b>SEPA</b><br/>
                                    IBAN: {{ payment.sepa.iban }}<br/>
                                    BIC: {{ payment.sepa.bic }}
                                {% endif %}
                                {% if payment.braintree is not null %}
                                    <b>Braintree</b><br/>
                                    Token: {{ payment.braintree.token }}<br/>
                                    Nonce: {{ payment.braintree.nonce }}<br/>
                                    IP Adresse: {{ payment.braintree.ipAdresse }}
                                {% endif %}
                            {% endif %}


                            <h3 class="card-title">{% trans %}Zahlungen{% endtrans %}</h3>

                            {% if stammdaten.paymentFerien is empty %}
                                <p class="alert alert-warning">{% trans %}Betrag ist noch offen{% endtrans %}</p>
                            {% else %}
                                {% if payment.sepa is not null %}
                                    <b>SEPA</b><br/>
                                    IBAN: {{ payment.sepa.iban }}<br/>
                                    BIC: {{ payment.sepa.bic }}
                                {% endif %}
                                {% if payment.braintree is not null %}
                                    <b>Braintree</b><br/>
                                    Token: {{ payment.braintree.token }}<br/>
                                    Nonce: {{ payment.braintree.nonce }}<br/>
                                    IP Adresse: {{ payment.braintree.ipAdresse }}
                                {% endif %}
                            {% endif %}

                            <h3 class="card-title">{% trans %}Rückerstattungen{% endtrans %}</h3>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
