{% extends 'adminBase.html.twig' %}
{% block content %}

    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-12 card">
                    <div class="card-header">
                        <h1>{{ text }}</h1>
                    </div>
                    <div class="card-body">
                        <h3>
                            {{ block.schule.name }}: {{ block.wochentagString }} {{ block.von|date('H:i') }}
                            - {{ block.bis|date('H:i') }}
                        </h3>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="mb-2">{{ 'Mindest Anzahl'|trans }}: {{ block.min }}</h5>
                                <h5>{{ 'Maximal Anzahl'|trans }}: {{ block.max }}</h5>
                                <hr>
                                <label for="fictiveDate">Datum eingeben, für welches die Anzahl der Kinder angezeigt
                                    werden
                                    soll:</label>
                                <input
                                        id="fictiveDate"
                                        type="date"
                                        name="fictiveDate"
                                        value="{{ fictiveDate|date('Y-m-d') }}"
                                />
                                <a href="{{ path('warteliste_show',{'block_id':block.id}) }}"
                                   class="btn btn-sm btn-primary"
                                   id="sendFictiveDate">Auswählen</a><br>
                                Anzahl Kinder am {{ fictiveDate|date('d.m.Y') }}:
                                <b>{{ getChildsOnSpecificTime(block,fictiveDate)|length }}</b><br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="blockContent">
                <div class="row" id="blockContentContent">
                    {% for k in kinder %}
                        {% set eltern = getEltern(k,k.startDate) %}
                        <div class="col-3 pb-4">
                            <div class="card h-100 text-center">
                                <div class="card-body">
                                    <h2>{{ k.vorname }} {{ k.nachname }}</h2>
                                    <p>
                                        {{ 'Wunsch Startdatum:'|trans }} <b>{{ k.startDate|date('d.m.Y') }}</b><br>
                                        Anzahl Kinder zum Startdatum:
                                        <b>{{ getChildsOnSpecificTime(block,k.startDate)|length }}</b><br>

                                    </p>
                                    <p>
                                        <small>{{ 'Erstellt am:'|trans }}
                                            <b>{{ k.eltern.createdAt|date('d.m.Y H:i') }}</b></small>
                                    </p>
                                    {% if is_granted('ROLE_ORG_ACCEPT_CHILD') %}
                                        <label for="fictiveDate{{ k.id }}">Datum des Betreuungsbeginns:</label>
                                        <input
                                                class="startDateSelector"
                                                id="fictiveDate{{ k.id }}"
                                                type="date"
                                                name="fictiveDate"
                                                data-target="#sendWarteliste_accept_kind{{ k.id }}"
                                                data-mindate="{{ findLatestChildForChild(k).startDate|date('Y-m-d') }}"
                                                value="{{ findLatestChildForChild(k).startDate|date('Y-m-d') }}"
                                        />
                                        <div class="btn-group btn-group-sm" role="group">


                                            <a
                                                    href="{{ path('warteliste_accept_kid',{'block_id':block.id,'kind_id':k.id,'date': fictiveDate|date('Y-m-d')}) }}"
                                                    class="btn btn-light deleteAjaxConfirm"
                                                    id="sendWarteliste_accept_kind{{ k.id }}"
                                                    data-title="{{ 'Kind in Betreuung übernehmen'|trans }}"
                                                    data-text="{{ 'Wollen Sie dieses Kind aus der Warteliste in die Betreuung übernehmen?'|trans }}"><i
                                                        class="material-icons"><span
                                                            class="material-symbols-outlined">check</span></i></a>
                                            <a href="{{ path('warteliste_remove_kid',{'block_id':block.id,'kind_id':k.id}) }}"
                                               class="btn btn-light deleteAjaxConfirm"
                                               data-title="{{ 'Kind aus Warteliste löschen'|trans }}"
                                               data-text="{{ 'Wollen Sie dieses Kind aus der Warteliste löschen?'|trans }}"><i
                                                        class="material-icons"><span class="material-symbols-outlined">delete</span></i></a>

                                            <a href="{{ path('child_detail',{'kind_id':k.id,'spezial_kind_id':k.id,'date':k.startDate|date('d.m.Y')}) }}"
                                               target="_blank"
                                               class="btn btn-light">
                                                <i class="material-icons">info</i>
                                            </a>
                                        </div>
                                    {% endif %}
                                    <hr>
                                    <p class="mt-3">
                                        <a type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                           data-target="#kind{{ k.id }}">Infos zum Kind</a>
                                    </p>
                                    <ul class="mt-2 text-left small" style="padding-left: 15px;">
                                        <li>{{ getBerufstatig(k) }}</li>
                                        <li>{{ eltern.alleinerziehend?"Alleinerziehend":'Nicht alleinerziehend'|trans }}</li>
                                    </ul>

                                </div>
                            </div>
                            <div class="modal fade" id="kind{{ k.id }}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title"
                                                id="exampleModalLabel">{{ 'Infos zu dem Kind'|trans }}</h3>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-data">
                                                <tbody>
                                                <tr>
                                                    <td>{{ 'Name'|trans }}</td>
                                                    <td>{{ k.vorname }} {{ k.nachname }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'Geburtstag'|trans }}</td>
                                                    <td>{{ k.geburtstag|date('d.m.Y') }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'Jahrgangsstufe'|trans }}</td>
                                                    <td>{{ k.klasseString }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'Info'|trans }}</td>
                                                    <td>{{ k.bemerkung }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <h4>{{ 'Infos des Erziehungsberechtigten'|trans }}</h4>
                                            <table class="table table-data">
                                                <tbody>
                                                <tr>
                                                    <td>{{ 'Name'|trans }}</td>
                                                    <td>{{ eltern.vorname }} {{ eltern.name }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'Berufliche Situation'|trans }}</td>
                                                    <td>{{ getBerufstatig(k) }}</td>
                                                </tr>
                                                <tr>
                                                    <td>{{ 'Alleinerziehend'|trans }}</td>
                                                    <td>{{ eltern.alleinerziehend?"Ja":'Nein'|trans }}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <table class="table table-data">
                                                <tbody>
                                                {% include 'widget/__elternTabelle_reduced.html.twig' with {'stadt':k.schule.stadt, 'eltern':eltern} %}
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                    data-dismiss="modal">{{ 'Schließen'|trans }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block jquery %}
    <script>

        const loadUrl = '{{ app.request.uri }} #blockContentContent';

    </script>
{% endblock %}
