{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1>{{ schule.name }}</h1>
                </div>
                <div class="col text-right">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ schuljahre[0].von|date('d.m.Y') }} - {{ schuljahre[0].bis|date('d.m.Y') }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            {% for s in schuljahre %}
                                <a class="schuljahrSelector dropdown-item" data-id="{{ s.id }}"
                                   href="#">{{ s.von|date('d.m.Y') }} - {{ s.bis|date('d.m.Y') }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="blockContent">
                <div class="mt-4">Loading...</div>
            </div>
        </div>
    </section>
{% endblock %}

{% block jquery %}
    <script>
        LoadContentUrl = "{{ path('block_schule_getBlocks',{'shool':schule.id}) }}" + "&id=" + "{{ schuljahre[0].id }}";
        $('.dropdown-item').click(function () {
            var ele = $(this);
            var text = ele.text();
            var dropdown = ele.closest('.dropdown').find('button');
            dropdown.text(text);
            LoadContentUrl = "{{ path('block_schule_getBlocks',{'shool':schule.id}) }}" + "&id=" + ele.attr('data-id');
            $('#blockContent').load(LoadContentUrl, function () {
                $.snackbar({content: "{% trans %}Zeitfenster geladen.{% endtrans %}"});
            })
        });
        $('#blockContent').load(LoadContentUrl);
        function reloadBlocks(){
            $('#blockContent').load(LoadContentUrl);
        }
    </script>
{% endblock %}