{% if blocks is defined %}
    {% for b in blocks %}
        <div class="card">
            <div class="card-body text-center {% if b.deleted == true %}bg-danger collapse{% endif %}" id="deletedCollape-{{ b.id }}">
                <div class="data">
                    <h5 class="mb-3">
                        {{ b.ganztagString }}{% if b.ganztag == 0 %}<i class="material-icons">restaurant</i>{% endif %}
                    </h5>
                    {% if b.deaktiviert %}
                        <div class="disabled">{{ 'Dieser Block ist nicht mehr buchbar'|trans }}</div>
                        <hr>
                    {% endif %}
                    <p class="mb-2 date">{{ b.von|date('H:i') }}-{{ b.bis|date('H:i') }}</p>
                    <p class="mb-2 kids">{{ getChildsOnSpecificTimeCached(b) }}</p>
                    {% if b.vorganger|length %}
                        <p>Vorgänger:
                            {% for l in b.vorganger %}
                                <br>{{ l.wochentagString }} {{ l.von|date('H:i') }} - {{ l.bis|date('H:i') }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>

                {% if getAnzahlBeworbenKids(b)|length > 0 %}
                    <hr>
                    <b>{% trans %}Noch nicht zugelassene Kinder{% endtrans %}:</b>
                    <span class="badge badge-danger">{{ getAnzahlBeworbenKids(b)|length }}</span>
                {% endif %}

                <div class="data">
                    {% if b.min is not null and b.max is not null %}
                        <hr>
                        <p>
                            {% trans %}Min{% endtrans %}: {{ b.min }}<br>
                            {% trans %}Max{% endtrans %}: {{ b.max }}
                        </p>
                    {% endif %}
                    <hr>
                    <p>
                        {% trans %}Preise{% endtrans %}:
                        {% for p in b.preise %}
                            <br>{{ p|number_format(2,',') }}€
                        {% endfor %}
                    </p>
                </div>

                {% if b.deleted == true and  is_granted('ROLE_ORG_BLOCK_DELETE') %}
                    <a href="{{ path('block_schule_restoreBlocks',{'id':b.id}) }}" class="deleteBtn" type="GET"
                       successFKT="reloadBlocks"><i class="material-icons">restore_from_trash</i></a>
                {% endif %}
            </div>

            <div class="bmd-card-actions text-center">
                {% if b.deleted == false %}
                    <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex2" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons">more_vert</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex2" style="width: max-content">

                        {% if is_granted('ROLE_ORG_CHILD_SHOW') %}
                            <a class="dropdown-item"
                               href="{{ path('child_show',{'id':b.schule.organisation.id,'block':b.id}) }}"><i
                                        class="material-icons">info</i> Info</a>
                        {% endif %}
                        {% if is_granted('ROLE_ORG_BLOCK_MANAGEMENT') %}
                            <a href="{{ path('block_schule_editBlocks',{'id':b.id}) }}"
                               class="loadContent dropdown-item"> <i
                                        class="material-icons">edit</i> Bearbeiten</a>
                            <a href="{{ path('block_schule_linkBlock',{'id':b.id}) }}"
                               class="loadContent dropdown-item"><i
                                        class="material-icons">link</i> Verknüpfen</a>

                        {% endif %}
                        {% if is_granted('ROLE_ORG_BLOCK_DELETE') %}
                            <a href="{{ path('block_schule_deleteBlocks',{'id':b.id}) }}"
                               class="deleteBtn dropdown-item" type="PUT"
                               successFKT="reloadBlocks"><i
                                        class="material-icons">delete</i> Löschen</a>
                        {% endif %}
                        {% if is_granted('ROLE_ORG_BLOCK_DEACTIVATE') %}
                            <a href="{{ path('app_deactivate_zeitblock_index',{'id':b.id}) }}"
                               class="deleteBtn dropdown-item" type="PUT"
                               successFKT="reloadBlocks"><i
                                        class="material-icons">disabled_by_default</i>{% if b.deaktiviert %}Buchbarkeit aktivieren{% else %}Buchbarkeit deaktivieren{% endif %}
                            </a>
                        {% endif %}
                        {% if is_granted('ROLE_ORG_ACCEPT_CHILD') and (b.min is not null or b.max is not null) and getAnzahlBeworbenKids(b)|length>0 %}

                            {% if (b.max is not null and (b.beworbenwithFin|length + b.kindwithFin|length) <= b.max) or b.min is not null %}
                                <a href="{{ path('kontingent_accept_all_kids',{'block_id':b.id}) }}"
                                   class="deleteBtn dropdown-item" successFKT="reloadBlocks"><i
                                            class="material-icons">check</i>&nbsp;Alle Kinder zulassen</a>
                            {% endif %}

                            <a class="dropdown-item" href="{{ path('kontingent_show_kids',{'block_id':b.id}) }}"><i
                                        class="material-icons">person_add</i>&nbsp;Kinder einzeln zulassen
                            </a>
                        {% endif %}
                    </div>
                {% else %}
                    <a data-toggle="collapse" href="#deletedCollape-{{ b.id }}" role="button" aria-expanded="false"
                       aria-controls="collapseExample"> {% trans %}gelöscht{% endtrans %}
                        /{% trans %}deaktiviert{% endtrans %}</a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endif %}
