{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <!-- Count item widget-->
                {% for s in schule %}
                    <div class="col-lg-3 col-sm-6 ">
                    <div class="card" >
                        {% if not s.image is empty %}
                        <img class="card-img-top" src="{{ vich_uploader_asset(s,'imageFile')|imagine_filter('my_cards')|makeHttps }}" alt="{{ s.name }}"
                             style="max-height: 300px">
                            {% else %}
                            <img class="card-img-top" src="{{ asset('images/logo-breit-mittig.png')|imagine_filter('my_cards')|makeHttps }}" alt="SKiB"
                                 style="max-height: 300px">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ s.name }}</h5>

                            <a href="{{ path('block_schule_schow',{'id':s.id}) }}"
                               class="btn btn-primary">{% trans %}Betreuungsblöcke{% endtrans %}</a>
                        </div>
                    </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}
