{% extends 'workflow/base.html.twig' %}
{% block header %}
    <div class="col-md-12 mb-6 white-text text-centerm text-md-left align-items-md-center">

        <h1 class="hauptfarbe font-weight-bold">{% trans %}Alle Neuigkeiten{% endtrans %}</h1>
        <hr class="hr-light ">
    </div>
{% endblock %}
{% block content %}
    {% for n in news %}

        <h2>{{ n.title }}</h2><b>{% trans %}Erstellt am{% endtrans %}: {{ n.createdDate|date('d.m.Y') }}{% if n.date %} | {% trans %}Bearbeitet am{% endtrans %}: {{ n.date|date('d.m.Y') }}{% endif %}</b>

        <div class="newsPreview">

            {{ n.message|raw }}
        </div>

        <a class="btn btn-primary"
           href="{{ path('news_show_all', {'id': n.id, 'slug': stadt.slug}) }}">
            <b>{% trans %}Weiterlesen{% endtrans %}</b>
        </a>
        <hr class="hr-dark ">
    {% endfor %}
{% endblock %}
