{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <!-- Count item widget-->
                <div class=" col-12 card">
                    <div class="card-header">
                        <h1> {% trans %}Neuigkeiten{% endtrans %} <a
                                    href="{{ path('org_news_neu',{'id':org.id}) }}">
                                <button href="#" type="button" class="btn  bmd-btn-fab bmd-btn-fab-sm">
                                    <i class="material-icons">add</i>
                                </button>
                            </a></h1>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>{% trans %}Titel{% endtrans %}</th>
                                <th>{% trans %}News Nachricht{% endtrans %}</th>
                                <th>{% trans %}Schule{% endtrans %}</th>
                                <th>{% trans %}Datum{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for n in news %}
                                <tr>
                                    <td>
                                        <div class="btn-group">
                                            <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex2"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="material-icons">more_vert</i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex2">
                                                <a class="dropdown-item"
                                                   href="{{ path('org_news_edit',{'id':n.id}) }}">{% trans %}Bearbeiten{% endtrans %}</a>
                                                <a class="dropdown-item"
                                                   href="{{ path('org_news_delete',{'id':n.id}) }}">{% trans %}Löschen{% endtrans %}</a>
                                                <a class="dropdown-item"
                                                   href="{{ path('org_news_send',{'id':n.id}) }}">{% trans %}Per Email versenden{% endtrans %}</a>

                                            </div>
                                        </div>
                                    </td>
                                    <td>{{ n.title }}</td>
                                    <td>{{ n.message }}</td>
                                    <td>{% if n.schule %}{{ n.schule.name }}{% endif %}</td>
                                    <td>{{ n.date|date("d.m.Y G:i") }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}
