{% extends 'workflow/base.html.twig' %}
{% block header %}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org",
            "@type": "NewsArticle",
            "headline": "{{ news.title }}",
            "image": "{{ absolute_url( vich_uploader_asset(news.stadt,'imageFile')) }}",
            "author": {
                "@type": "Organization",
                "name": "{{ news.stadt.name }}"
            },
            "publisher": {
                "@type": "Organization",
                "name": "SkiB unsere-schulkindbetreuung.de",
                "logo": {
                    "@type": "ImageObject",
                    "url": "{{ absolute_url(asset('images/logo_news.png')) }}",
                    "width":154 ,
                    "height": 60
                }
            },
            "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ absolute_url(path('news_show_all',{'slug':news.stadt.slug,'id':news.id})) }}"
  },

            "datePublished": "{{ news.createdDate|date('Y-m-d') }}",
            {% if news.date is defined and news.date is not null %}
            "dateModified": "{{ news.date|date('Y-m-d') }}",
            {% endif %}
            "description":"{{ news.message|slice(0,200) }}"
        }



    </script>
    <div class="col-md-12 mb-6 white-text text-centerm text-md-left align-items-md-center">

        <h1 class="hauptfarbe h1-responsive">{% trans %}Neuigkeit{% endtrans %}</h1>
        <hr class="hr-light ">
    </div>
{% endblock %}
{% block content %}
    <h1 class="cover-heading">{{ news.title }}</h1>
    <b>
        {% trans %}Erstellt am{% endtrans %}
        : {{ news.createdDate|date('d.m.Y') }} {% if news.date %}| {% trans %}Bearbeitet am{% endtrans %}: {{ news.date|date('d.m.Y') }}{% endif %}
    </b>
    <p>{{ news.message|raw }}</p>

    <a class="btn btn-primary"
       href="{{ path('news_show_page', {'slug':news.stadt.slug}) }}">
        <b>{% trans %}Zur Übersicht{% endtrans %}</b>
    </a>
{% endblock %}
