{% extends 'workflow/base.html.twig' %}
{% block header %}

    <div class="col-md-12 mb-6 white-text text-centerm text-md-left align-items-md-center">

        <h1 class="hauptfarbe font-weight-bold">{% trans %}Neuigkeit{% endtrans %}</h1>
        <hr class="hr-light ">
    </div>
{% endblock %}
{% block content %}
    <h1 class="cover-heading">{{ news.title }}</h1>
    <b>
    {% trans %}Erstellt am{% endtrans %}: {{ news.createdDate|date('d.m.Y') }} {% if news.date %}| {% trans %}Bearbeitet am{% endtrans %}: {{ news.date|date('d.m.Y') }}{% endif %}
</b>
    <p>{{ news.message|nl2br }}</p>

    <a class="btn btn-primary"
       href="{{ path('news_show_page', {'slug':news.stadt.slug}) }}">
        <b>{% trans %}Zur Übersicht{% endtrans %}</b>
    </a>
{% endblock %}
