{% extends 'adminBase.html.twig' %}

{% block content %}
<section class="dashboard-counts section-padding">
    <div class="container-fluid ">
        <div class="row">
            <!-- Count item widget-->
            <div class=" col-12 card">
                <div class="card-header">
                  <h1> {{ 'Buchhaltung'|trans }}
                  </h1>
                </div>
                <div class="card-body">

                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" data-toggle="modal" data-target="#newSepa" class="btn btn-raised btn-primary">{{ 'Neues SEPA erstellen'|trans }}</button>
                    </div>
                    <div class="modal fade" id="newSepa" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{ 'Neues SEPA erstellen'|trans}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">

                                       {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_label(form.von) }}
                                            {{ form_widget(form.von.day, {'attr': {'class': 'd-none'}}) }}
                                            {{ form_widget(form.von.month) }}

                                            {{ form_widget(form.von.year) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_label(form.einzugsDatum) }}
                                            {{ form_widget(form.einzugsDatum.day) }}
                                            {{ form_widget(form.einzugsDatum.month) }}
                                            {{ form_widget(form.einzugsDatum.year) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            {{ form_row(form.save) }}
                                        </div>
                                    </div>

                                       {{ form_end(form) }}

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'Schließen'|trans }}</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">


                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>{% trans %}Summe{% endtrans %}</th>
                                        <th>{% trans %}Anzahl{% endtrans %}</th>
                                        <th>{% trans %}Von{% endtrans %}</th>
                                        <th>{% trans %}Bis{% endtrans %}</th>
                                        <th>{% trans %}Einzugsdatum{% endtrans %}</th>
                                        <th>{% trans %}Angelegt{% endtrans %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for s in sepa %}
                                        <tr>
                                            <td> <div class="btn-group">
                                                    <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex2">
                                                        <a class="dropdown-item"  href="{{ path('accounting_sepa_detail',{'id':s.id}) }}">Detail</a>
                                                            <a class="dropdown-item" href="{{ path('accounting_sepa_printXML',{'id':s.id}) }}">{% trans %}Download SEPA-XML{% endtrans %}</a>
                                                    </div>
                                                </div></td>
                                            <td>{{ s.summe }}</td>
                                            <td>{{ s.anzahl }}</td>
                                            <td>{{ s.von|date('d.m.Y') }}</td>
                                            <td>{{ s.bis|date('d.m.Y') }}</td>
                                            <td>{{ s.einzugsdatum|date('d.m.Y') }}</td>
                                            <td>{{ s.createdAt|date('d.m.Y') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block jquery %}


{% endblock %}