{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-12 card">
                    <div class="card-header">
                        <h1>{{ 'Stammdaten für die Buchhhaltung'|trans }}</h1>
                    </div>
                    <div class="card-body">
                        <div class="d-flex flex-row flex-buttons mb-4">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button"
                                        id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">
                                    {% if schuljahr is not null %}{{ schuljahr.von|date('d.m.Y') }} - {{ schuljahr.bis|date('d.m.Y') }} {% else %}{{ 'Alle Jahre'|trans }}{% endif %}
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item "
                                       href="{{ path('accounting_showdata',{'id':organisation.id,'year_id':'all'}) }}">{{ 'Alle Jahre'|trans }}</a>
                                    {% for y in organisation.stadt.actives %}
                                        <a class="dropdown-item "
                                           href="{{ path('accounting_showdata',{'id':organisation.id,'year_id':y.id}) }}">{{ y.von|date('d.m.Y') }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="table-responsive">
                            <table class="table table-hover" id="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>{% trans %}Kundennummer{% endtrans %}</th>
                                        <th>{% trans %}Name{% endtrans %}</th>
                                        <th>{% trans %}E-Mail{% endtrans %}</th>
                                        <th>{% trans %}Adresse{% endtrans %}</th>
                                        <th>{% trans %}Postleitzahl{% endtrans %}</th>
                                        <th>{% trans %}Stadt{% endtrans %}</th>
                                        <th>{% trans %}Gültig ab{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for s in stammdaten %}
                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <button class="btn bmd-btn-icon dropdown-toggle" type="button"
                                                        id="ex2" data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="material-icons">more_vert</i>
                                                </button>
                                                <div class="dropdown-menu dropdown-menu-left"
                                                     aria-labelledby="ex2">
                                                    <a class="dropdown-item"
                                                       href="{{ path('accounting_showdata_customerid', {'id':organisation.id, 'stammdaten_id':s.id}) }}">{% trans %}Kundennummer zuweisen/ändern{% endtrans %}</a>
                                                    {% if app.user and is_granted('ROLE_ORG_SEE_PRICE') %}
                                                        <a class="dropdown-item loadContent"
                                                           href="{{ path('accounting_showdata_montly',{'stammdatenId':s.id}) }}"
                                                           data-toggle="modal">{% trans %}Monatliche Zahlungen{% endtrans %}</a>

                                                    {% endif %}
                                                    {% if app.user and is_granted('ROLE_ORG_CHILD_CHANGE') %}
                                                        <a class="dropdown-item"
                                                           href="{{ path('edit_stammdaten_seccode',{'eltern_id':s.id}) }}">{% trans %}Stammdaten bearbeiten{% endtrans %}</a>

                                                    {% endif %}
                                                </div>
                                            </div>
                                        </td>
                                        {% set kn = s.KundennummerForOrg(organisation.id) %}
                                        <td>{% if kn is defined and kn is not null %}{{ kn.kundennummer }}{% endif %}</td>
                                        <td>{{ s.vorname }} {{ s.name }}</td>
                                        <td>{{ s.email }}</td>
                                        <td>{{ s.strasse }}</td>
                                        <td>{{ s.plz }}</td>
                                        <td>{{ s.stadt }}</td>
                                        <td>{{ s.startDate|date('d.m.Y') }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}