<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ 'Infos zu den Stammdaten'|trans }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    {% for s in history %}
        {% set startDate = s.date%}
        <div class="card-bordered">
            <h4 class="mb-3">{{ 'Gültig ab'|trans }}: {{ startDate|date('d.m.Y') }}</h4>
            <table class="table table-data">
                <tbody>
                    <tr>
                        <td>{{ 'Alleinerziehend'|trans }}</td>
                        <td>{{ s.stammdaten.alleinerziehend?'Ja':'Nein' }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'SGB II, SGB XII, AsylbLG, Wohngeld oder Jugendhilfe'|trans }}</td>
                        <td>{{ s.stammdaten.sozialhilfeEmpanger?'Ja':'Nein' }}</td>
                    </tr>
                    <tr>
                        <td>{{ 'Anzahl an Kindergelberechtigten Kinder im Haushalt'|trans }}</td>
                        <td>{{ s.stammdaten.anzahlKindergeldempfanger }}</td>
                    </tr>
                </tbody>
            </table>
            {% set summe = 0 %}
            <p>Kinder</p>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>{{ 'Monatliche Gebühren'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for k in s.kinder %}
                        {% set summe = summe + getPreisforBetreuungWithoutBeworben(k,startDate) %}
                            <tr>
                                <td><a href="{{ path('child_detail',{'kind_id':k.id,'date':startDate|date('d.m.Y')}) }}">{{ k.vorname }} {{ k.nachname }}</a></td>
                                <td>{{ getPreisforBetreuungWithoutBeworben(k,startDate)|number_format(2,',','.') }}€</td>
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p class="mb-0">
                <b>
                    {% trans with {'{date}':startDate|date('d.m.Y') } %}Gesamtbetrag ab {date}{% endtrans %}:
                    <u>{{ getPreisforBetreuungWithoutBeworbenActual(s.stammdaten,startDate)|number_format(2,',','.') }}€</u>
                </b>
            </p>
        </div>
    {% endfor %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light" data-dismiss="modal">{{ 'Schließen'|trans }}</button>
</div>