
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% include 'workflow/_head.html.twig' with {'stadt':null} %}
    {% include 'workflow/inlineCSS.html.twig' with {'height':50} %}
</head>

<body class="fixed-sn white-skin">

{% include 'base/__navbar.html.twig' %}
{% block preContent %}
{% endblock %}
<main>
    <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
</main>

{% include 'workflow/footer.html.twig' %}

<div class="modal fade" id="loadContentModal" tabindex="-1" role="dialog" aria-labelledby="loadContentModal"
     aria-hidden="true">

</div>


<script>
    confirmTitle = '{{ 'Bestätigung'|trans }}';
    confirmText = '{{ 'Wollen Sie diese Aktion durchführen?'|trans }}';
    {% if app.request.query.get("snack") is defined and app.request.query.get("snack") is not null %}
    optionsSnack = JSON.parse('{{ app.request.query.get("snack")|raw }}');

    {% endif %}

</script>
<script>

    bssettings = {
        title: '{% trans %}Cookie & Datenschutzhinweis{% endtrans %}',
        message: '{% trans %}Cookies ermöglichen die Bereitstellung unserer Dienste. Mit der Nutzung unserer Dienste erklären Sie sich damit einverstanden, dass wir Cookies verwenden. Weitere Informationen zum Datenschutz erhalten Sie über den folgenden Link{% endtrans %}: <b>',
        moreLinkLabel: '{% trans %}Mehr erfahren{% endtrans %}</b>',
        messageMaxHeightPercent: 30,
        moreLink: '{{ path('datenschutz') }}',
        delay: 1000,
        allowAdvancedOptions: false,
        acceptButtonLabel: 'OK',
        OnAccept: function () {
            console.log('Yay! User accepted your cookies window!');
            console.log('User preferences');
            var preferences = $.fn.bsgdprcookies.GetUserPreferences();
            console.log(preferences);

        }
    }
</script>

<script type="text/javascript" src="{{ asset('build/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/popper.min.js') }}"></script>

{% block webpack %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

<script type="text/javascript" src="{{ asset('build/js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('build/js/mdb.min.js') }}"></script>

{% block jquery %}{% endblock %}
<script>

    $(document).ready(function () {
        // SideNav Initialization
        $(".button-collapse").sideNav();
    });
</script>
<script>
    $(document).ready(function () {
        $('.mdb-select')
            .materialSelect();
    });
    $('input').trigger('change');
</script>

</body>

</html>



