{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid ">
            <div class="row">
                <!-- Count item widget-->
                <div class=" col-12 card">
                    {% if active is not null %}
                        <h1 class="card-header">{% trans with {'%active%':active.von|date('d.m.Y')~'-'~active.bis|date('d.m.Y')} %}Berichte von %active%{% endtrans %}</h1>
                    {% else %}
                        <h1 class="card-header">{% trans %}Berichte{% endtrans %}</h1>
                    {% endif %}
                    <div class="card-body">
                        <h1 class="card-header">{% trans %}Export{% endtrans %}</h1>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            {% trans %}Alle Schuljahre{% endtrans %}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="schuljahrSelector dropdown-item" data-type="schuljahr"
                                               data-value="null"
                                               href="{{ path('stadt_bericht_index',{'stadt_id':stadt.id}) }}"> {% trans %}Alle Schuljahre{% endtrans %}</a>

                                            {% for s in schuljahre %}
                                                <a class="schuljahrSelector dropdown-item" data-type="schuljahr"
                                                   data-value="{{ s.id }}"
                                                   href="{{ path('stadt_bericht_index',{'stadt_id':stadt.id,'schuljahr':s.id}) }}">{{ s.von|date('d.m.Y') }}
                                                    - {{ s.bis|date('d.m.Y') }}</a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                {% if active is null %}
                                    <a href="{{ path('stadt_bericht_export',{'stadt_id':stadt.id}) }}"
                                       id="excelDownload"
                                       class="btn btn-primary">{% trans %}Download als Excel{% endtrans %}</a>
                                {% else %}
                                    <a href="{{ path('stadt_bericht_export',{'stadt_id':stadt.id,'schuljahr':active.id}) }}"
                                       id="excelDownload"
                                       class="btn btn-primary">{% trans %}Download als Excel{% endtrans %}</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Klasse</th>
                                    <th>Block</th>
                                    <th>Wochentag</th>
                                    <th>Organisation</th>
                                    <th>Schule</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for k in kinder %}
                                    {% for b in k.zeitblocks %}
                                        <tr>
                                            <td>{{ k.klasse }}</td>
                                            <td>{{ b.von|date('H:i') }}-{{ b.bis|date('H:i') }}</td>
                                            <td>{{ b.wochentagString|trans }}</td>
                                            <td>{{ k.schule.organisation.name }}</td>
                                            <td>{{ k.schule.name }}</td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block jquery %}
    <script>
        $('.schuljahrSelector').click(function (e) {
            //   e.preventDefault();
            //   var url = $(this).attr('data-url');
            //  $('#excelDownload').attr('href', url);
        })
    </script>
{% endblock %}