<style>
    table {
        border: 1px solid black;

        font-weight: bold;
        margin: 10px;
    }

    td {
        margin: 5px;
    }
</style>
<h2>{% trans %}Checkin Ausweis{% endtrans %}</h2>
{% set farbe = kind.schule.organisation.stadt.hauptfarbe is not empty?kind.schule.organisation.stadt.hauptfarbe:'#61EDF1' %}

<table cellpadding="8px" width="190px">
    <tr >
        <td align="center" style="height: 50px" colspan="2"><span style="font-size: 12px">{{ kind.schule.name }}</span></td>
    </tr>
    <tr style="background-color: {{ farbe }}">
        <td style="height: 30px" colspan="2"><span style="font-size: 10px">{{ kind.schule.organisation.name }}</span></td>
    </tr>
    <tr style="background-color: {{ farbe }}">
        <td style="height: 120px" colspan="2">
        </td>
    </tr>
    <tr style="background-color: {{ farbe }}"><td style="height: 10px"  colspan="2"><span style="font-size: 18px">{{ kind.vorname|upper}}</span></td></tr>
    <tr style="background-color: {{ farbe }}"><td style="height: 15px" colspan="2"><span style="font-size: 15px">{{ kind.nachname}}</span></td></tr>

    <tr style="background-color: {{ farbe }}">
        <td style="height: 15px" colspan="2"><span style="font-size: 10px" >{{ kind.schule.organisation.stadt.name}}</span></td>
    </tr>
</table>
