<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% include 'workflow/_head.html.twig' with {'stadt':null} %}
    {% include 'workflow/inlineCSS.html.twig' with {'height':'100%','stadt':null} %}
</head>
<body>
<!-- Navbar -->
{% include 'workflow/navbar.html.twig' with {'stadt':null} %}
<!-- Navbar -->

<!-- Full Page Intro -->
<div class="view full-page-intro"
     style="background-image: url('{{ asset('images/background.jpg') }}'); background-repeat: no-repeat; background-size: cover;">
    <style>
        .svg {
            height: 100px;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .svg-bottom {
            height: 100px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

    </style>
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">


        <svg class="svg-bottom" viewBox="0 0 200 100" preserveAspectRatio="none"
             xmlns="http://www.w3.org/2000/svg">

            <circle fill="white" cx="0" cy="100" r="100"/>
            <circle fill="white" cx="200" cy="100" r="100"/>
        </svg>
        <!-- Content -->
        <div class="container">

            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center" style="word-break: break-word">

                    <h1 class="font-weight-bold h1-responsive">{% trans %}Online Anmeldung und Verwaltung für die Schulkindbetreuung{% endtrans %}</h1>

                </div>

                <div class="col-md-6 mb-4 text-center text-md-left">
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4 white-text text-center align-content-center">
                <section id="scroll">

                    <a href="#stadtliste"><span></span></a>
                </section>
            </div>
        </div>
    </div>

</div>

<main>
    {% if contentSelect is defined and contentSelect is not null  %}
    <div class="container anchor" id="stadtliste">
        <section class="mt-5 wow fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        {% for c in content %}
                            <li class="nav-item text-center">
                                <a class="nav-link active" id="{{ c.id }}-tab" href="{{ path('welcome_landing_slug',{'content':c.slug}) }}"
                                   aria-controls="{{ c.slug }}"
                                   aria-selected="true"><i class="fa fa-3x {{c.icon}}"></i><br> {{ c.translate.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content mt-3" id="myTabContent">
                            <div class="tab-pane fade show active"
                                 role="tabpanel" aria-labelledby="{{ contentSelect.slug }}">
                                {{ contentSelect.translate.content|markdown_to_html}}
                            </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endif %}
    <div class="container anchor" id="stadtliste">
        <section class="mt-5 wow fadeIn">
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-8">

                    <h2> {% trans %}Webanwendung für die  Anmeldung und Verwaltung{% endtrans %}</h2>
                    <section class="dashboard-counts section-padding" id="schulenShow">
                        <div class="container-fluid ">


                            {% trans %}
                                Die Schulkindbetreuung ist eine <b>komplexe Dienstleistung</b>. Viele Menschen
                                                                                              und Institutionen sind bei der Finanzierung, Planung, Verwaltung und
                                                                                              Umsetzung beteiligt.<br>
                                <br>
                                Die <b>gestiegene Komplexität</b> und die Erwartungshaltungen der Beteiligten
                                                                  machen eine Veränderung notwendig.<br><br>
                                <b>Vereinbarkeit von Familie und Beruf und die Chancengleichheit für alle Kinder</b>
                                fordern den Ausbau und die Modernisierung des Betreuungssystems.<br><br>
                                Der <b>Schulträger von Morgen</b> stellt eine innovative, moderne und transparente
                                                                  Informationsplattform, Anmeldung und Verwaltung allen Beteiligten zur
                                                                  Verfügung.<br><br>
                                <b>Digitalisierung und umweltbewusstes Handeln</b> sind zentrale Themen
                                unserer Zeit.
                            {% endtrans %}


                        </div>
                    </section>
                </div>
                <div class="col-lg-4">

                    <blockquote class="blockquote">
                        <p class="mb-0">{% trans %}Die Angebotspalette der Schulkindbetreuung ist sehr groß und unübersichtlich. Ich fühle mich oft überfordert und deshalb wünsche ich mir eine transparente Plattform.{% endtrans %}</p>
                        <footer class="blockquote-footer">by
                            <cite>{% trans %}Beatrice (Mutter von drei Söhnen){% endtrans %}</cite></footer>
                    </blockquote>
                    <blockquote class="blockquote">
                        <p class="mb-0">{% trans %}Ich möchte mehr Zeit mit den Kindern verbringen und nicht ständig Listen führen.{% endtrans %}</p>
                        <footer class="blockquote-footer">by
                            <cite>{% trans %}Catarina (Sozialpädagogin){% endtrans %}</cite></footer>
                    </blockquote>
                </div>

            </div>
        </section>
        <!--Section: Main info-->
        <section class="mt-5 wow fadeIn">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-12">

                    <h2> {% trans %}Die Schulkindbetreuung steht ihnen in folgenden Städten zur Verfügung{% endtrans %}</h2>

                    <section class="dashboard-counts section-padding mt-5" id="schulenShow">
                        <div class="container-fluid ">

                            <div class="card-deck">
                                <!-- Count item widget-->
                                {% for s in stadt %}
                                    <div class="col-md-4">
                                        <div class="card">

                                            <div class="view overlay skib-card-image">
                                                <img class="card-img-top"
                                                     src="{{ vich_uploader_asset(s,'imageFile') }}">
                                            </div>
                                            <div class="card-body">

                                                <h2 class="card-title">{{ s.name }}</h2>
                                                <!-- Text -->
                                                <p class="card-text">{{ s.translate.infoText|nl2br|length > 50 ? s.translate.infoText|nl2br|slice(0,50)~'...':s.translate.infoText }}</p>
                                                <!-- Button -->
                                                <a href="{{ path('workflow_start',{'slug':s.slug}) }}"
                                                   class="btn btn-primary">{{ 'Ich lebe in '~s.name|trans }}</a>

                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </section>

                </div>
            </div>


        </section>
        <section class="mt-5 wow fadeIn">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2>
                        Wir beraten Sie gerne individuell:
                    </h2>
                    <h3><a href="mailto:info@unsere-schulkindbetreuung.de">info@unsere-schulkindbetreuung.de</a></h3>
                    <h3><a href="tel:+49 7621-7925862"> +49 07621-7925862</a></h3>
                </div>
            </div>
        </section>
    </div>
</main>


{% include 'workflow/footer.html.twig' with {'stadt':null} %}

{% include 'workflow/_scriptfooter.html.twig' %}

<script>
    $(function () {
        $("a[href*=\\#]").on('click', function (e) {
            e.preventDefault();
            $('html, body').animate({scrollTop: $($(this).attr('href')).offset().top}, 500, 'linear');
        });
    });
</script>
</body>

</html>
