<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% include 'workflow/_head.html.twig' with {'stadt':null} %}
    {% include 'workflow/inlineCSS.html.twig' with {'height':'100%','stadt':null} %}
</head>
<body>
<!-- Navbar -->
{% include 'workflow/navbar.html.twig' with {'stadt':null} %}
<!-- Navbar -->

<!-- Full Page Intro -->
<div class="view full-page-intro">
    <div class="jarallax">
        <img class="jarallax-img" src="{{ asset('images/background.jpg') }}" alt="">
    </div>
    <style>
        .svg {
            height: 100px;
            position: absolute;
            top: 0;
            width: 100%;
        }

        .svg-bottom {
            height: 100px;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

    </style>
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">


        <svg class="svg-bottom" viewBox="0 0 200 100" preserveAspectRatio="none"
             xmlns="http://www.w3.org/2000/svg">

            <circle fill="white" cx="0" cy="100" r="100"/>
            <circle fill="white" cx="200" cy="100" r="100"/>
        </svg>
        <!-- Content -->
        <div class="container">
            {% block image %}
            <!--Grid row-->
            <div class="row wow fadeIn">

                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center" style="word-break: break-word">

                    <h2 class="font-weight-bold h1-responsive">{% trans %}Online Anmeldung und Verwaltung für die Schulkindbetreuung{% endtrans %}</h2>

                </div>

                <div class="col-md-6 mb-4 text-center text-md-left">
                    <div class="row">
                    </div>
                </div>
            </div>
            <div class="col-md-12 mb-4 white-text text-center align-content-center">
                <section id="scroll">
                    <a class="scroller" href="#feature"><span></span></a>
                </section>
            </div>
            {% endblock %}
        </div>
    </div>

</div>
{% block content %}
<main>


    {% if contentSelect is defined and contentSelect is not null %}
        <div class="container anchor" id="feature">
            <section class="mt-5 wow fadeIn">
                <div class="row">
                    <div class="col-lg-12">


                        <!-- Classic tabs -->
                        <div class="classic-tabs mx-2">
                            <div id="tabWrapper">
                                <div id="tabContent">
                                    <ul class="nav nav-justified tabs-primary" id="myClassicTabOrange" role="tablist">

                                        {% for c in content %}
                                            <li class="nav-item">
                                                <a class="nav-link waves-effect loadInTarget {% if c == contentSelect %} active show{% endif %}"
                                                   data-target="#tabContent" id="{{ c.id }}-tab"
                                                   data-wrapper="#tabWrapper"
                                                   data-toggle="tab"
                                                   href="{{ path('welcome_landing_slug',{'content':c.slug}) }}#feature"
                                                   role="tab" aria-controls="{{ c.slug }}" aria-selected="true"><i
                                                            class="fa fa-3x {{ c.icon }}"></i><br>{{ c.translate.title }}
                                                </a>
                                            </li>

                                        {% endfor %}


                                    </ul>

                                    <div class="tab-content card " id="myClassicTabContent">
                                    <div id="myTabContent">
                                        <div class="tab-pane fade show active"
                                             role="tabpanel" aria-labelledby="{{ contentSelect.slug }}">
                                            {{ contentSelect.translate.content|markdown_to_html }}
                                            <div id="share"></div>
                                        </div>
                                    </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Classic tabs -->




                    </div>
                </div>
            </section>
        </div>
    {% endif %}
    <div class="container anchor" id="stadtliste">

        <!--Section: Main info-->
        <section class="mt-5 wow fadeIn">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-12">

                    <h2> {% trans %}Die Schulkindbetreuung steht ihnen in folgenden Städten zur Verfügung{% endtrans %}</h2>

                    <section class="dashboard-counts section-padding mt-5" id="schulenShow">
                        <div class="container-fluid ">

                            <div class="card-deck">
                                <!-- Count item widget-->
                                {% for s in stadt %}
                                    <div class="col-md-4">
                                        <div class="card">

                                            <div class="view overlay skib-card-image">
                                                <img alt="{{ s.name }}" class="card-img-top"
                                                     src="{{ vich_uploader_asset(s,'imageFile') }}">
                                            </div>
                                            <div class="card-body">

                                                <h2 class="card-title">{{ s.name }}</h2>
                                                <!-- Text -->

                                                <!-- Button -->
                                                <a href="{{ path('workflow_start',{'slug':s.slug}) }}"
                                                   class="btn btn-primary">{{ 'Weiter'|trans }}</a>

                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </section>

                </div>
            </div>


        </section>
        <section class="mt-5 wow fadeIn">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-lg-8 offset-lg-2 text-center">
                    <h2>
                        {% trans %}Wir beraten Sie gerne individuell:{% endtrans %}
                    </h2>
                    <h3><a href="mailto:info@unsere-schulkindbetreuung.de">info@unsere-schulkindbetreuung.de</a></h3>
                    <h3><a href="tel:+49 7621-7925862"> +49 07621-7925862</a></h3>
                </div>
            </div>
        </section>
    </div>
</main>
{% endblock %}

{% include 'workflow/footer.html.twig' with {'stadt':null} %}

<script>
    mehrLesen = '{{ 'Mehr lesen'|trans }}';
    wenigerLesen = '{{ 'Schließen'|trans }}'

</script>
{{ encore_entry_script_tags('landing') }}
<script>

    $(document).ready(function () {
        $('select')
            .materialSelect();
        $('.pickadate').pickadate({
            format: 'dd.mm.yyyy',
            formatSubmit: 'yyyy-mm-dd',
        });
    });
</script>
</body>

</html>
