{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row" id="widgetRow">



            </div>
            <div class="row card" id="stundenplanRow">



            </div>

        </div>
    </section>

{% endblock %}

{% block jquery %}
    <!-- Count item widget-->
    <script>
        var URLs = [
            {% if app.user.organisation is not null %}
            '{{ path('widget_kids_today',{'id':app.user.organisation.id}) }}',
            '{{ path('widget_kids_schuljahr',{'id':app.user.organisation.id}) }}',
                {% for s in app.user.organisation.schule  %}
            '{{ path('widget_kids_schule',{'org_id':app.user.organisation.id,'schule_id':s.id}) |raw    }}',
                {% endfor %}
            '{{ path('widget_overdue_sepa',{'org_id':app.user.organisation.id}) }}'
            {% endif %}
        ];
        {% if app.user.organisation is not null %}
        $('#stundenplanRow').load('{{ path('widget_kids_stundenplan',{'org_id':app.user.organisation.id}) }}',function () {

        });
        {% endif %}
        $.each(URLs, function (index, value) {
            console.log(value);

            $.getJSON(value, function (data) {

           var box = '<div class="col-xl-2 col-md-4 col-6">'
                    +'<div class="wrapper count-title d-flex">'
                    +'<div class="icon"><i class="material-icons"> '+data.symbol+'</i></div>'
                +'<div class="name"><strong class="text-uppercase">'+data.title+'</strong><span>'+data.small+'</span>'
                +'<div class="count-number">'+data.anzahl+'</div>'
                 +'</div>'
            +'   </div>'
            +'   </div>';

                $("#widgetRow").append(box);
            });
        });
    </script>


{% endblock %}