{% extends 'adminBase.html.twig' %}

{% block content %}
<section class="dashboard-counts section-padding">
    <div class="container-fluid ">
        <div class="row">
            <!-- Count item widget-->
            <div class=" col-12 card">
                <div class="card-header">
                    <h1>{{ title }}</h1>
                </div>
                <div class="card-body">
                    <ul>
                        {% for error in errors %}
                            <li>{{ error.message }}</li>
                        {% endfor %}
                    </ul>
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    {{ form_row(form.submit) }}
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#allgemein" role="tab"
                               aria-controls="home" aria-selected="true">Allgemein</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#bilder" role="tab"
                               aria-controls="profile" aria-selected="false">Aussehen</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="home-tab" data-toggle="tab" href="#module" role="tab"
                               aria-controls="home" aria-selected="true">Module</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#texte" role="tab"
                               aria-controls="profile" aria-selected="false">Texte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#rechtliches" role="tab"
                               aria-controls="profile" aria-selected="false">Rechtliches</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#schulkindbetreuung"
                               role="tab" aria-controls="contact" aria-selected="false">Schulkindbetreuung</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#ferienbetreeuung"
                               role="tab" aria-controls="contact" aria-selected="false">Ferienbetreuung</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade show active" id="allgemein" role="tabpanel"
                             aria-labelledby="home-tab"><h2>Allgemein</h2>
                            {% if form.slug is defined %}
                                {{ form_row(form.slug) }}
                            {% endif %}
                            {{ form_row(form.name) }}
                            {{ form_row(form.email) }}
                            {{ form_row(form.adresse) }}
                            {{ form_row(form.adresszusatz) }}
                            {{ form_row(form.plz) }}
                            {{ form_row(form.ort) }}
                            {{ form_row(form.telefon) }}
                            {{ form_row(form.ansprechpartner) }}
                            {{ form_row(form.stadtHomepage) }}

                        </div>
                        <div class="tab-pane fade" id="module" role="tabpanel" aria-labelledby="profile-tab"><h2>
                                Module</h2>
                            {% if form.active is defined %}
                            {{ form_row(form.active) }}
                            {% endif %}
                            {% if form.onlineCheckinEnable %}
                            {{ form_row(form.onlineCheckinEnable) }}
                            {% endif %}
                            {% if form.schulkindBetreung is defined %}
                            {{ form_row(form.schulkindBetreung) }}
                            {% endif %}
                            {% if form.ferienprogramm is defined%}
                            {{ form_row(form.ferienprogramm) }}
                            {% endif %}
                        </div>

                        <div class="tab-pane fade" id="texte" role="tabpanel" aria-labelledby="profile-tab"><h2>
                                Texte</h2>
                            <h3>Infotext</h3>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#infoDe"
                                       role="tab" aria-controls="home" aria-selected="true">Deutsch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#infoEn" role="tab"
                                       aria-controls="profile" aria-selected="false">Englisch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#infoFr" role="tab"
                                       aria-controls="contact" aria-selected="false">Französisch</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="infoDe" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    {{ form_row(form.infoTextDe) }}</div>
                                <div class="tab-pane fade" id="infoEn" role="infoEn"
                                     aria-labelledby="profile-tab">
                                    {{ form_row(form.infoTextEn) }}</div>
                                <div class="tab-pane fade" id="infoFr" role="infoFr" aria-labelledby="contact-tab">
                                    {{ form_row(form.infoTextFr) }}</div>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="rechtliches" role="tabpanel" aria-labelledby="profile-tab">
                            <h2>Rechliches</h2>
                            {{ form_row(form.imprint) }}
                            <h3>Datenschutzhinweis</h3>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#dsgvoDe"
                                       role="tab" aria-controls="home" aria-selected="true">Deutsch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#dsgvoEn" role="tab"
                                       aria-controls="profile" aria-selected="false">Englisch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#dsgvoFr" role="tab"
                                       aria-controls="contact" aria-selected="false">Französisch</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="dsgvoDe" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    {{ form_row(form.datenschutzDE) }}</div>
                                <div class="tab-pane fade" id="dsgvoEn" role="infoEn"
                                     aria-labelledby="profile-tab">
                                    {{ form_row(form.datenschutzEn) }}</div>
                                <div class="tab-pane fade" id="dsgvoFr" role="vertragsbedingungenFr"
                                     aria-labelledby="contact-tab">
                                    {{ form_row(form.datenschutzFr) }}</div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="bilder" role="tabpanel" aria-labelledby="profile-tab"><h2>
                                Bilder</h2>
                            {{ form_row(form.imageFile) }}
                            {{ form_row(form.logoStadtFile) }}
                            {{ form_row(form.logoUrl) }}
                            {{ form_row(form.hauptfarbe) }}
                            {{ form_row(form.akzentfarbe) }}
                            {{ form_row(form.akzentfarbeFehler) }}

                        </div>
                        <div class="tab-pane fade" id="schulkindbetreuung" role="tabpanel"
                             aria-labelledby="profile-tab"><h2>Schulkindbetreuung</h2>
                            {{ form_row(form.minBlocksPerDay) }}
                            {{ form_row(form.minDaysperWeek) }}
                            {{ form_row(form.preiskategorien) }}
                            {{ form_row(form.gehaltsklassen) }}
                            <h3>Vertragsbedingungen</h3>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab"
                                       href="#vertragsbedingungenDe"
                                       role="tab" aria-controls="home" aria-selected="true">Deutsch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#vertragsbedingungenEn"
                                       role="tab"
                                       aria-controls="profile" aria-selected="false">Englisch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#vertragsbedingungenFr"
                                       role="tab"
                                       aria-controls="contact" aria-selected="false">Französisch</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="vertragsbedingungenDe" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    {{ form_row(form.infoAGBDe) }}</div>
                                <div class="tab-pane fade" id="vertragsbedingungenEn" role="infoEn"
                                     aria-labelledby="profile-tab">
                                    {{ form_row(form.infoAGBEn) }}</div>
                                <div class="tab-pane fade" id="vertragsbedingungenFr" role="vertragsbedingungenFr"
                                     aria-labelledby="contact-tab">
                                    {{ form_row(form.infoAGBFr) }}</div>
                            </div>
                            <h3>Betreuungszeitfensterinformation</h3>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#careBlockInfoDe"
                                       role="tab" aria-controls="home" aria-selected="true">Deutsch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#careBlockInfoEn"
                                       role="tab"
                                       aria-controls="profile" aria-selected="false">Englisch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#careBlockInfoFr"
                                       role="tab"
                                       aria-controls="contact" aria-selected="false">Französisch</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="careBlockInfoDe" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    {{ form_row(form.careBlockInfoDE) }}</div>
                                <div class="tab-pane fade" id="careBlockInfoEn" role="infoEn"
                                     aria-labelledby="profile-tab">
                                    {{ form_row(form.careBlockInfoEn) }}</div>
                                <div class="tab-pane fade" id="careBlockInfoFr" role="vertragsbedingungenFr"
                                     aria-labelledby="contact-tab">
                                    {{ form_row(form.careBlockInfoFr) }}</div>
                            </div>
                            <h3>Catererinformation</h3>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#catererInfoDE"
                                       role="tab" aria-controls="home" aria-selected="true">Deutsch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#catererInfoEn"
                                       role="tab"
                                       aria-controls="profile" aria-selected="false">Englisch</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#catererInfoFr"
                                       role="tab"
                                       aria-controls="contact" aria-selected="false">Französisch</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="catererInfoDE" role="tabpanel"
                                     aria-labelledby="home-tab">
                                    {{ form_row(form.catererInfoDE) }}</div>
                                <div class="tab-pane fade" id="catererInfoEn" role="infoEn"
                                     aria-labelledby="profile-tab">
                                    {{ form_row(form.catererInfoEn) }}</div>
                                <div class="tab-pane fade" id="catererInfoFr" role="vertragsbedingungenFr"
                                     aria-labelledby="contact-tab">
                                    {{ form_row(form.catererInfoFr) }}</div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ferienbetreeuung" role="tabpanel"
                             aria-labelledby="profile-tab"><h2>Ferienbetreuung</h2></div>


                    </div>
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>


            </div>
        </div>
    </div>
</section>

{% endblock %}
{% block jquery %}
    <script>
        $(document).ready(function () {
            var form = $('form'),
                original = form.serialize()

            form.submit(function () {
                window.onbeforeunload = null
            })

            window.onbeforeunload = function () {
                if (form.serialize() != original)
                    return 'Are you sure you want to leave?'
            }
        })
    </script>


{% endblock %}
