{% extends 'adminBase.html.twig' %}

{% block content %}
<section class="dashboard-counts section-padding">
    <div class="container-fluid ">
        <div class="row">
            <!-- Count item widget-->
            <div class=" col-12 card">
                <div class="card-header">
                    {% if city is defined %}
                  <h1> {% trans with {'%stadt%':city.name} %}Stadt Administratoren für %stadt%{% endtrans %}  <a href="{{ path('admin_stadtadmin_neu',{'id':city.id}) }}"><button href="#" type="button" class="btn  bmd-btn-fab bmd-btn-fab-sm">
                         <i class="material-icons">add</i>
                      </button></a></h1>
                    {% else %}
                        <h1> {% trans %}Alle User{% endtrans %}  </h1>
                    {% endif %}
                </div>
<div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans %}Username{% endtrans %}</th>
                        <th>{% trans %}Vorname{% endtrans %}</th>
                        <th>{% trans %}Nachname{% endtrans %}</th>
                        <th>{% trans %}Geburtstag{% endtrans %}</th>
                        <th>{% trans %}Rolle{% endtrans %}</th>
                        <th>{% trans %}Status{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in user %}
                    <tr>
                        <td> <div class="btn-group">
                                <button class="btn bmd-btn-icon dropdown-toggle" type="button" id="ex2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="ex2">
                                    <a class="dropdown-item" href="{{ path('admin_stadtadmin_edit',{'id':u.id}) }}">{% trans %}Bearbeiten{% endtrans %}</a>
                                    <a class="dropdown-item" href="{{ path('admin_stadtadmin_toggleAdmin',{'id':u.id}) }}">{{ u.hasRole('ROLE_CITY_ADMIN')?"Admin entfernen":"Admin ernennen"|trans }}</a>
                                    <a class="dropdown-item" href="{{ path('admin_stadtadmin_deactivate',{'id':u.id}) }}">{% trans %}Account Deaktivieren{% endtrans %}</a>
                                    <a class="dropdown-item" href="{{ path('admin_stadtadmin_changePw',{'id':u.id}) }}">{% trans %}Password ändern{% endtrans %}</a>
                                    <a class="dropdown-item" href="{{ path('dashboard',{'_switch_user': u.username}) }}">{% trans %}Zu diesem User wechseln{% endtrans %}</a>

                                </div>
                            </div></td>
                        <td>{{ u.username }}</td>
                        <td>{{ u.vorname }}</td>
                        <td>{{ u.nachname }}</td>
                        <td>{{ u.birthday|date('d.m.Y') }}</td>
                        <td>{{ u.hasRole('ROLE_CITY_ADMIN')?"Admin":"Kein Admin"|trans }}</td>
                        <td>{{ u.enabled?"Activ":"Deaktiviert"|trans }}</td>

                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
</div>

                {% for u in user %}

                {% endfor %}

            </div>
        </div>
    </div>
</section>

{% endblock %}
