{% extends 'adminBase.html.twig' %}

{% block content %}
<section class="dashboard-counts section-padding">
    <div class="container-fluid ">
        <div class="row">
            <!-- Count item widget-->
            <div class=" col-12 card">
                <div class="card-header">
                  <h1> {% trans with {'%stadt%':city.name} %}Stadt Administratoren für %stadt%{% endtrans %}  <a href="{{ path('admin_stadtadmin_neu',{'id':city.id}) }}"><button href="#" type="button" class="btn  bmd-btn-fab bmd-btn-fab-sm">
                         <i class="material-icons">add</i>
                      </button></a></h1>
                </div>
<div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Username</th>
                        <th>Vorname</th>
                        <th>Nachname</th>
                        <th>Geburtstage</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for u in user %}
                    <tr>
                        <td></td>
                        <td>{{ u.username }}</td>
                        <td>{{ u.vorname }}</td>
                        <td>{{ u.nachname }}</td>
                        <td>{{ u.birthday|date('d.m.Y') }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
</div>

                {% for u in user %}

                {% endfor %}

            </div>
        </div>
    </div>
</section>

{% endblock %}
