{% extends 'email/base.html.twig' %}
        {% block content %}
                                                <div class="h4" style="color:#2c2c2c; font-family:Arial,sans-serif; font-size:18px; line-height:24px; text-align:left">{% trans %}Anmeldebestätigung für die Schulbetreuung{% endtrans %}</div>
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="10" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>


                                                <div class="text2" style="color:#777777; font-family:Arial,sans-serif; font-size:12px; line-height:20px; text-align:left">{% trans %}Hiermit bestägen wir Ihnen die Anmeldung Ihrers Kindes:{% endtrans %}
                                                    <b>{{ kind.vorname }} {{ kind.nachname }}</b>
                                                {% trans %}Für die Kommunikation mit dem Träger müssen Sie diesen Sicherheitscode angeben. Dieser ist nur einmalig gültig und wird Ihnen mit der Bestätigung neu zugeandt. Dieser Mechanismus verhindert einen Missbräuchlichen Zugriff auf die Daten Ihrere Kinder durch Dritte. {% endtrans %}
                                                <h3>
                                                    {{ 'Sicherheitscode'|trans }}: {{ eltern.secCode }}
                                                </h3>
                                                    <p>{% trans %}Im Anhang finden Sie zur Kontrolle Ihre Daten und die Ihrer Kinder als PDF. Bitte überprüfen Sie Daten und melden Sie sich bei Fragen an Ihre zuständige Organisation. Die Kontaktdaten sind in dem PDF angegeben.{% endtrans %}</p>
                                                    <br>
                                                    <br>
                                                    <p>{% trans %}Mit freundlichen Grüßen Ihre betreuende Organisation{% endtrans %}</p>
                                                    <b>{{ kind.zeitblocks[0].schule.organisation.name }}</b>
                                                </div>

                                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%"><tr><td height="14" class="spacer" style="font-size:0pt; line-height:0pt; text-align:center; width:100%; min-width:100%">&nbsp;</td></tr></table>

                                            {% endblock %}


