
{% extends 'email/base.html.twig' %}
{% block header %}
    {% trans %}Anmeldebestätigung für die Schulkindbetreuung{% endtrans %}
{% endblock %}

{% block content %}
    <p class="text-center">{% trans %}Sie haben Ihr Kind für die Schulkindbetreuung angemeldet:{% endtrans %}<br>

        <b>{{ kind.vorname }} {{ kind.nachname }}</b> </p>
    <p class="text-center">{% trans %}Für die Kommunikation mit dem Träger müssen Sie diesen Sicherheitscode angeben.
            Dieser ist nur einmalig gültig und wird Ihnen mit der Bestätigung neu zugeandt.
            Dieser Mechanismus verhindert einen Missbräuchlichen Zugriff auf die Daten Ihrere Kinder durch Dritte.{% endtrans %}</p>
    <h3 class="text-center">
        {{ 'Sicherheitscode'|trans }}: {{ eltern.secCode }}
    </h3>
    <p class="text-center">{% trans %}Dies ist eine vorläufige Inforamtion über die Anmeldung Ihres Kindes.
            Wenn die Organisation Ihre Anmeldung bearbeitet hat, bekommen sie eine Zusammenfassung Ihrer akzeptierten Betreuungsblöcke.{% endtrans %}
    </p>
    <br>
    <br>
    <p class="text-center">{% trans %}Mit freundlichen Grüßen Ihre betreuende Organisation{% endtrans %}<br>
        <b>{{ kind.zeitblocks[0].schule.organisation.name }}</b></p>


{% endblock %}






