{% extends 'adminBase.html.twig' %}

{% block content %}
    <section class="dashboard-counts section-padding">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col">
                    <h1>{{ title }}</h1>
                </div>
                <div class="col text-right">{{ form_row(form.submit) }}</div>
            </div>
            <div class="row">
                <div class="col">
                    {% include 'edit_stammdaten/_erziehungsberechtigte.html.twig' %}
                    {% include 'edit_stammdaten/_weitereInfos.html.twig' %}
                    {% include 'edit_stammdaten/_bankverbindung.html.twig' %}
                </div>
                <div class="col">
                    {% include 'edit_stammdaten/_weiterePersonen.html.twig' %}
                </div>
                <div class="col">
                    {% include 'edit_stammdaten/_geschwister.html.twig' %}
                </div>
            </div>
            {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </section>
{% endblock %}

{% block webpack %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}